<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://aliannejadi.com/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/aliannejadi.jpg' | relative_url }}" alt="Mohammad Aliannejadi"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Mohammad Aliannejadi</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">University of Amsterdam</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-university-of-amsterdam.svg' | relative_url }}"
                     alt="University of Amsterdam logo">
            </div>
        </a>
    </div>
</div>
