<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a class="uk-link-reset" href="https://stefandietze.net">
            <div class="thumbnail-left"><img alt="Stefan Dietze" src="{{ '/img/people/dietze.jpg' | relative_url }}"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Stefan Dietze</div>
                <div class="uk-text-muted uk-text-small uk-margin-small-top uk-margin-small-bottom">GESIS - Leibniz Institute for the Social Sciences & Heinrich Heine University Düsseldorf</div>
                <div class="uk-flex uk-flex-between uk-margin-top-auto">
                    <img alt="GESIS logo"
                         src="{{ '/img/organizations/logo-gesis.svg' | relative_url }}"
                         style="width:50%;">
                    <img alt="Heinrich Heine University Düsseldorf logo"
                         src="{{ '/img/organizations/logo-heinrich-heine-university-duesseldorf.svg' | relative_url }}"
                         style="width:50%;">
                </div>
            </div>
        </a>
    </div>
</div>
