<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="http://nl.ijs.si/et/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/erjavec.jpg' | relative_url }}" alt="Tomaž Erjavec"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Tomaž Erjavec</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Jožef Stefan Institute</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-ijs.png' | relative_url }}"
                     alt="Jožef Stefan Institute">
            </div>
        </a>
    </div>
</div>
