<div>
    <div class="uk-card uk-card-default uk-card-body">
        <!--<a href="https://coltekin.net/cagri" class="uk-link-reset">-->
            <div class="thumbnail-left"><img src="{{ '/img/people/silhouette-male.jpg' | relative_url }}" alt="Marc Feger"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Marc Feger</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Heinrich Heine University Düsseldorf</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-heinrich-heine-university-duesseldorf.svg' | relative_url }}"
                     alt="Heinrich Heine University Düsseldorf logo">
            </div>
        <!--</a>-->
    </div>
</div>
