<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://ufal.mff.cuni.cz/matyas-kopp" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/silhouette-male.jpg' | relative_url }}" alt="Matyáš Kopp"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Matyáš Kopp</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Charles University in Prague</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-charles-university.svg' | relative_url }}"
                     alt="Charles University in Prague">
            </div>
        </a>
    </div>
</div>
