<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://www.tudelft.nl/ewi/over-de-faculteit/afdelingen/intelligent-systems/interactive-intelligence/people/current-group-members/enrico-liscio" class="uk-link-reset">
            <div class="thumbnail-left"><img src="https://assets.webis.de/img/event-people/liscio.jpg" alt="Enrico Liscio"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Enrico Liscio</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">TU Delft</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-tu-delft.svg' | relative_url }}"
                     alt="Delft logo">
            </div>
        </a>
    </div>
</div>
