<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://en.ktu.edu/scientist/vaidas.morkevicius/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/morkevicius.jpg' | relative_url }}" alt="Vaidas Morkevičius"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Vaidas Morkevičius</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Kaunas University of Technology</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-kaunas.svg' | relative_url }}"
                     alt="Kaunas University of Technology">
            </div>
        </a>
    </div>
</div>
