<div>
    <div class="uk-card uk-card-default uk-card-body">
        <a href="https://felixvictor.net/" class="uk-link-reset">
            <div class="thumbnail-left"><img src="{{ '/img/people/muench.jpg' | relative_url }}" alt="Felix Victor Münch"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Felix Victor Münch</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">GESIS - Leibniz Institute for the Social Sciences</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-gesis.svg' | relative_url }}"
                     alt="GESIS logo">
            </div>
        </a>
    </div>
</div>
