<div>
    <div class="uk-card uk-card-default uk-card-body">
        <!-- <a href="https://" class="uk-link-reset"> -->
            <div class="thumbnail-left"><img src="{{ '/img/people/reitis-muenstermann.jpg' | relative_url }}" alt="Theresa Reitis-Muenstermann"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Theresa Reitis-Münstermann</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">European Commission Joint Research Centre</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-jrc-eu.png' | relative_url }}"
                     alt="European Commission Joint Research Centre logo">
            </div>
        <!-- </a> -->
    </div>
</div>
