<div>
    <div class="uk-card uk-card-default uk-card-body">
            <div class="thumbnail-left"><img src="{{ '/img/people/wolter.jpg' | relative_url }}" alt="Moritz Wolter"></div>
            <div class="uk-height-1-1">
                <div class="uk-card-title">Moritz Wolter</div>
                <div class="uk-text-muted uk-margin-small-top uk-margin-small-bottom">Leipzig University</div>
                <img class="uk-position-bottom-right thumbnail-card-logo"
                     src="{{ '/img/organizations/logo-leipzig-university.svg' | relative_url }}"
                     alt="Leipzig University logo">
            </div>
    </div>
</div>
