---
layout: default
nav_active: shared-tasks
title: Touché at CLEF 2027 - Human Value Detection
description: Learn about task, data, and participation for the Human Value Detection shared task, hosted at Touché at CLEF 2027
---

<nav class="uk-container">
    <ul class="uk-breadcrumb">
        <li><a href="../../index.html">Touché</a></li>
        <li><a href="../../shared-tasks.html">Shared Tasks</a></li>
        <li class="uk-disabled"><a href="#">Human Value Detection 2027</a></li>
    </ul>
</nav>

<main class="uk-section uk-section-default">
<div class="uk-container">
<div class="uk-container uk-margin-small">
<h1 class="uk-margin-remove-top uk-margin-remove-bottom">Human Value Detection 2027</h1>
<ul class="uk-list">
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
<!--
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#important_dates">Important Dates</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task">Task</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#submission">Submission</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#leaderboard">Leaderboard</a></li>
-->
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
</ul>
</div>

<div class="uk-container uk-margin-medium">


<h2 id="synopsis">Synopsis</h2>
<ul>
<li>Task: Given a text, for each sentence, detect which human values the sentence refers to.</li>
<li>Communication: [mailing lists: <a href="https://groups.google.com/g/touche-lab">participants</a>, <a href="mailto:touche@webis.de">organizers</a>] </li>
<!--
<li>Submission: [<a href="index.html#index-paper-submission">notebook papers</a>]</li>
-->
</ul>

<!--
<a class="uk-button uk-button-primary" href="https://clef-labs-registration.dipintra.it/">Register for participation</a>
-->
<a href="https://groups.google.com/g/touche-lab" class="uk-button uk-button-primary">Join the Touché mailing list</a>


<h2 id="task-committee">Task Committee</h2>
<div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
{% include people-cards/kiesel.html gender="male" %}
{% include people-cards/khan.html gender="male" %}
{% include people-cards/stein.html gender="male" %}
</div>
<div class="uk-container uk-padding-large uk-padding-remove-bottom">
{% include organizations/clef-organizations-section.html year=2027 %}
</div>
</div>
</div>
</main>
