<div class="task-chair-organizations">
    {% if include.year == 2020 %}
    <div>
        <a href="https://clef2020.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef20.png' | relative_url }}" alt="CLEF Thessaloniki 2020 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2021 %}
    <div>
        <a href="https://clef2021.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef21.png' | relative_url }}" alt="CLEF Bucharest 2021 logo">
        </a>
    </div>
    {% endif %}

    {% if include.year == 2022 %}
    <div>
        <a href="https://clef2022.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef22.png' | relative_url }}" alt="CLEF Bologna 2022 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year == 2023 %}
    <div>
        <a href="https://clef2023.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef23.png' | relative_url }}" alt="CLEF Thessaloniki 2023 logo">
        </a>
    </div>
    {% endif %}
    {% if include.year >= 2010 %}
    <div>
        <a href="https://www.clef-initiative.eu/" target="_blank">
            <img src="{{ '/img/organizations/logo-clef2.png' | relative_url }}" alt="CLEF logo">
        </a>
    </div>
    {% endif %}
</div>
