.page-index {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)), url("../img/touche-index-page.jpg") no-repeat center center fixed;
    background-size: cover;
}

.index-cover {
    margin-top: 6vh;
    margin-bottom: 8vh;
    hyphens: none;
}
