---
layout: default
nav_active: shared-tasks
title: Touché at CLEF 2024 - Ideology and Power Identification in Parliamentary Debates
description: Touché at CLEF 2024 - Ideology and Power Identification in Parliamentary Debates
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">Touché</a></li>
<li><a href="../../shared-tasks.html">Shared Tasks</a></li>
<li class="uk-disabled"><a href="#">Ideology and Power Identification in Parliamentary Debates 2024</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
<div class="uk-container">
<div class="uk-container uk-margin-small">
<h1 class="uk-margin-remove-top uk-margin-remove-bottom">Ideology and Power Identification in Parliamentary Debates 2024</h1>
<ul class="uk-list">
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#important-dates">Important Dates</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task">Task</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
<!--<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#submission">Submission</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#tira-quickstart">TIRA Quickstart</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>
-->
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
</ul>
</div>

<div class="uk-container uk-margin-medium">

<h2 id="synopsis">Synopsis</h2>
This task consists of two subtasks on identifying
two important aspects of a speaker in parliamentary debates:
<ul>
<li>Sub-Task 1: Given a parliamentary speech in one of several languages, identify the ideology of the speaker's party.</li>
<li>Sub-Task 2: Given a parliamentary speech in one of several languages, identify whether the speaker's party is currently governing or in opposition.</li>
<li>Communication: [mailing lists: <a href="https://groups.google.com/g/ideology-and-power-in-parliamentary-speeches">task</a>, <a href="mailto:touche@webis.de">organizers</a>] </li>
<!-- <li>Input: [<a href="../touche24-data/topics-task3.xml" download>topics</a>]</li> -->
<!-- <li>Submission: [queries: <a href="https://github.com/touche-webis-de/touche-code/tree/main/clef23/image-retrieval-for-arguments/query-submission-baselines">baselines code</a>, <a href="https://github.com/touche-webis-de/touche-code/tree/main/clef23/image-retrieval-for-arguments/query-submission-evaluator">validator</a>] [<a href="https://www.tira.io/task/touche-task-3">submit</a>]</li> -->
</ul>

<a class="uk-button uk-button-primary" href="https://clef2024-labs-registration.dei.unipd.it/">Register now</a>


<h2 id="important-dates" class="uk-margin-large-top">Important Dates</h2>
<p>Subscribe to the <a href="https://groups.google.com/g/ideology-and-power-in-parliamentary-speeches/subscribe">mailing list</a> to receive notifications.</p>
<ul>
<li><strong>Dec. 18, 2023:</strong> CLEF Registration opens. [<a href="https://clef2024-labs-registration.dei.unipd.it/">register</a>]</li>
<li><strong>May   6, 2024:</strong> Approaches submission deadline.</li>
<li><strong>May  31, 2024:</strong> Participant paper submission<!-- [<a href="../touche23-data/touche-paper-template.zip">template</a>] [<a href="../touche23-data/instructions.txt">short instructions</a>] [<a href="https://clef2023.clef-initiative.eu/resources/wn_instructions.pdf">full instructions</a>] [<a href="https://www.easychair.org/my/conference?conf=clef2023">submit</a>]-->.</li>
<li><strong>June 21, 2024:</strong> Peer review notification.</li>
<li><strong>July  8, 2024:</strong> Camera-ready participant papers submission<!--[<a href="../touche23-data/touche-paper-template.zip">template</a>] [<a href="../touche23-data/instructions.txt">short instructions</a>] [<a href="https://clef2023.clef-initiative.eu/resources/wn_instructions.pdf">full instructions</a>] [<a href="https://www.easychair.org/my/conference?conf=clef2023">submit</a>]-->.</li>
<li><strong>Sep. 9-12, 2024:</strong> <a href="https://clef2024.imag.fr/">CLEF Conference</a> in Grenoble and Touché Workshop.</li>
<!-- <li><strong>September 8, 2024:</strong> Touché Workshop.</li> -->
</ul>
<p>All deadlines are 23:59 <a href="https://time.is/Anywhere_on_Earth">anywhere on earth</a> (UTC-12).</p>

<h2 id="task">Task</h2>
Debates in national parliaments do not only affect
the fundamental aspects of citizens' life,
but often a broader area, or even the whole world.
As a form of political debate, however, parliamentary speeches are
often indirect and present a number of challenges to computational analyses.
In this task, we focus on identifying two variables associated
with speakers in a parliamentary debate:
their political ideology and whether they belong to 
a governing party or a party in opposition.
Both subtasks are formulated as binary classification tasks.

<h2 id="data">Data</h2>

The data for this task comes
from <a href="https://www.clarin.eu/parlamint">ParlaMint</a>,
a multilingual comparable corpora of parliamentary debates.
The data is sampled from the ParlaMint in a way to reduce the potential confounding variables 
(e.g., speaker identity). 
Please join the <a href="https://groups.google.com/g/ideology-and-power-in-parliamentary-speeches/subscribe"> task mailing list</a> to stay up-to-date and report problems.

The data is provided as tab-separated text files.  The following shows a toy example:

<pre>
<span class="column">id</span> <span class="column">speaker</span> <span class="column">sex</span> <span class="column">text</span> <span class="column">label</span> 
<span class="column">gb01</span> <span class="column">spk1</span>   <span class="column">F</span>   <span class="column">First text.</span> <span class="column">0</span>
<span class="column">gb02</span> <span class="column">spk2</span>   <span class="column">M</span>   <span class="column">Second text.</span> <span class="column">1</span>
<span class="column">gb03</span> <span class="column">spk3</span>   <span class="column">M</span>   <span class="column">Third text.</span> <span class="column">0</span>
<span class="column">gb04</span> <span class="column">spk4</span>   <span class="column">F</span>   <span class="column">Fourth text.</span> <span class="column">1</span>
<span class="column">gb06</span> <span class="column">spk5</span>   <span class="column">M</span>   <span class="column">Fifth text.</span> <span class="column">0</span>
</pre>

<ul>
	<li> <b>id</b> is a unique (arbitrary) ID for each text.
	<li> <b>speaker</b> is a unique (arbitrary) ID for each speaker.
          There may be multiple speeches from the same speaker.
    <li> <b>sex</b> is the (binary/biological) sex of the speaker.
    <li> <b>text</b> is the transcribed text of the parliamentary speech.
        Real examples may include line breaks, and other special
        sequences escaped or quoted.
    <li> <b>label</b> is the binary/numeric label. For political
        orientation, <b>0</b> is <b>left</b> and <b>1</b> is right.
        For power identification <b>0</b> indicates <b>opposition</b>
        and <b>1</b> indicates <b>coalition</b> (or governing party).
</ul>

Participants are not required to use the first four fields,
but may want to use them for improving the predictions (e.g., in a
joint/multi-task learning model, or to explain away the effect of
speaker style for better generalization).
The test files will also include exact same fields except <b>label</b>.

A small trial sample is provided for both
<a href="../touche24-data/orientation-gb-trial.tsv">political orientation</a>
and 
<a href="../touche24-data/power-gb-trial.tsv">power</a> identification.

We provide training data for the following national or regional parliaments: 
<ul>
    <li>Ideology identification:
            Austria (at),
            Bosnia and Herzegovina (ba),
            Belgium (be),
            Bulgaria (bg),
            Czech Republic (cz),
            Denmark (dk),
            Estonia (ee),
            Catalonia (es-ct),
            Galicia (es-ga),
            Basque Country (es-pv),
            Spain (es),
            Finland (fi),
            France (fr),
            Great Britain (gb),
            Greece (gr),
            Croatia (hr),
            Hungary (hu),
            Iceland (is),
            Italy (it),
            Latvia (lv),
            The Netherlands (nl),
            Norway (no),
            Poland (pl),
            Portugal (pt),
            Serbia (rs),
            Sweden (se),
            Slovenia (si),
            Turkey (tr), and
            Ukraine (ua)
    <li>Power identification:
            Austria (at),
            Bosnia and Herzegovina (ba),
            Belgium (be),
            Bulgaria (bg),
            Czech Republic (cz),
            Denmark (dk),
            Estonia (ee),
            Catalonia (es-ct),
            Galicia (es-ga),
            Basque Country (es-pv),
            Spain (es),
            Finland (fi),
            France (fr),
            Great Britain (gb),
            Greece (gr),
            Croatia (hr),
            Hungary (hu),
            Italy (it),
            Latvia (lv),
            The Netherlands (nl),
            Norway (no),
            Poland (pl),
            Portugal (pt),
            Serbia (rs),
            Sweden (se),
            Slovenia (si),
            Turkey (tr), and
            Ukraine (ua)
</ul>

<h2 id="evaluation">Evaluation</h2>

Both subtasks will use macro-averaged F1-score as the main metric of evaluation.
The submission system will evaluate runs automatically using F1-score,
Precision and Recall.

<!--
<h2 id="submission">Submission</h2>
-->

<!--
<h2 id="tira-quickstart">TIRA Quickstart</h2>
We will provide a generic quickstart to include here once we are ready (probably in October)
-->

<!--
<h2 id="results">Results</h2>
-->

<!--
<h2><a id="related-work"></a>Related Work</h2>
<ul>
    <li> <a href="https://codalab.lisn.upsaclay.fr/competitions/8507">
            EVALITA 2023 Task - PoliticIT. Political ideology detection in
            Italian texts</a>
    <li> <a href="https://codalab.lisn.upsaclay.fr/competitions/10173">
            IberLEF 2023 Task - PoliticEs. Political ideology detection in Spanish texts
        </a>
</ul>
-->

<h2 id="task-committee">Task Committee</h2>
<div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
{% include people-cards/coltekin.html gender="male" %}
{% include people-cards/meden.html gender="female" %}
{% include people-cards/ljubesic.html gender="male" %}
{% include people-cards/erjavec.html gender="male" %}
{% include people-cards/morkevicius.html gender="male" %}
{% include people-cards/kopp.html gender="male" %}
</div>

<div class="uk-container uk-padding-large uk-padding-remove-bottom">
{% include organizations/clef-organizations-section.html year=2024 %}
</div>
</div>
</div>
</main>
