---
layout: default
nav_active: shared-tasks
title: Touché at CLEF 2024 - Ideology and Power Identification in Parliamentary Debates
description: Touché at CLEF 2024 - Ideology and Power Identification in Parliamentary Debates
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">Touché</a></li>
<li><a href="../../shared-tasks.html">Shared Tasks</a></li>
<li class="uk-disabled"><a href="#">Ideology and Power Identification in Parliamentary Debates 2024</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
<div class="uk-container">
<div class="uk-container uk-margin-small">
<h1 class="uk-margin-remove-top uk-margin-remove-bottom">Ideology and Power Identification in Parliamentary Debates 2024</h1>
<ul class="uk-list">
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
<!--
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#submission">Submission</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#tira-quickstart">TIRA Quickstart</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
-->
</ul>
</div>

<div class="uk-container uk-margin-medium">

<h2 id="synopsis">Synopsis</h2>
<ul>
<li>Sub-Task 1: Given a parliamentary speech in one of several languages, identify the ideology of the speaker's party.</li>
<li>Sub-Task 2: Given a parliamentary speech in one of several languages, identify whether the speaker's party is currently governing or in opposition.</li>
<!-- <li>Input: [<a href="../touche24-data/topics-task3.xml" download>topics</a>]</li> -->
<!-- <li>Submission: [queries: <a href="https://github.com/touche-webis-de/touche-code/tree/main/clef23/image-retrieval-for-arguments/query-submission-baselines">baselines code</a>, <a href="https://github.com/touche-webis-de/touche-code/tree/main/clef23/image-retrieval-for-arguments/query-submission-evaluator">validator</a>] [<a href="https://www.tira.io/task/touche-task-3">submit</a>]</li> -->
</ul>

<!-- <a class="uk-button uk-button-primary" href="https://clef2023-labs-registration.dei.unipd.it/">Register now</a> -->

<!--
<h2 id="data">Data</h2>
-->

<!--
<h2 id="evaluation">Evaluation</h2>
-->

<!--
<h2 id="submission">Submission</h2>
-->

<!--
<h2 id="tira-quickstart">TIRA Quickstart</h2>
We will provide a generic quickstart to include here once we are ready (probably in October)
-->

<!--
<h2 id="results">Results</h2>
-->

<!--
<h2><a id="related-work"></a>Related Work</h2>
<ul>
</ul>
-->

<!--
<h2 id="task-committee">Task Committee</h2>
<div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
{% include people-cards/heinrich.html gender="male" %}
{% include people-cards/kiesel.html gender="male" %}
{% include people-cards/potthast.html gender="male" %}
{% include people-cards/stein.html gender="male" %}
</div>
-->

<div class="uk-container uk-padding-large uk-padding-remove-bottom">
{% include organizations/clef-organizations-section.html year=2024 %}
</div>
</div>
</div>
</main>
