---
layout: default
nav_active: shared-tasks
title: Touché at CLEF 2024 - Image Retrieval for Arguments
description: Touché at CLEF 2024 - Image Retrieval for Arguments
---


<style>
    .task_description {
        text-align: center;
    }

    .image_examples_div {
        display: flex;

    }


    .image_example_submission {
        max-width: 33%;
        margin: 10px;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        /* Ensure child items are aligned in a column */
        align-items: center;
        /* Center image vertically */

    }

    .sing_example_image_container {
        /* border: 10px solid blue; */
        max-width: 100%;
        height: 70%;
    }

    .sing_example_image {
        max-width: 100%;
        /* Ensure image does not exceed container width */
        max-height: 100%;
        /* Ensure image does not exceed container height */
        height: auto;
        /* Let the height scale proportionally */
    }

    .argu_example_general {
        display: flex;
        flex-direction: column;
        font-size: larger;
        align-items: center;
        justify-content: center;
    }

    .image_descriptor {
        font-weight: bold;
        padding: 10px;
    }


    .argument_example_text {
        width: 100%;


    }


    .image_example_general {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .image_example_general p {
        font-size: xx-small;

    }
</style>


<nav class="uk-container">
    <ul class="uk-breadcrumb">
        <li><a href="../../index.html">Touché</a></li>
        <li><a href="../../shared-tasks.html">Shared Tasks</a></li>
        <li class="uk-disabled"><a href="#">Image Retrieval/Generation for Arguments 2024</a></li>
    </ul>
</nav>

<main class="uk-section uk-section-default">
    <div class="uk-container">
        <div class="uk-container uk-margin-small">
            <h1 class="uk-margin-remove-top uk-margin-remove-bottom">Image Retrieval/Generation for Arguments 2024</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right"
                        href="#synopsis">Synopsis</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right"
                        href="#submission">Submission</a></li>
                        <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right"
                            href="#important_dates">Important Dates</a></li>
                            <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right"
                                href="#evaluation">Evaluation</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right"
                        href="#example">Examples</a></li>

                <!--
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#tira-quickstart">TIRA Quickstart</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
-->
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right"
                        href="#task-committee">Task Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">

            <h2 id="synopsis">Introduction</h2>
            <p> Let's look at the following argument: </p>

            <div class="argu_example_general">
                <p><b>Claim:</b> Boxing is a dangerous sport!</p>
                <p><b>Premise:</b> Boxing can lead to serious injuries.</p>


                <div class="image_example_general">
                    <img src="../touche24-data/boxing_injuries.jpg" alt="boxer gets a har hit">
                    <p> Source: Sweating fighter is punched in the face - gettyimages </p>
                </div>
            </div>

            <p>
                Chances are, you looked at the photo first, before you even read the whole argument. We can almost feel
                the
                pain of the blow, and hear the sound of the punch, making the premise much more convincing. This is the
                power of images, which appeal to our visual senses and emotions, making them more memorable than words.
                There is a difference between written language and images. Written language provides clear but limited
                information, while images provide more information than written words, but are not as precise. For
                example, in the
                picture above, we can see the color of the boxing glove and the appearance of the boxer, which are not
                mentioned by
                the words in the premise.
            </p>

            <h2 id="synopsis">Synopsis</h2>

            <div class="task_description">

                <b>Task:</b> Given an argument, find images that help to convey the argument's premise.
                </p>
            </div>
            <p>For this task, an argument consists of one claim and a premise. In addition, we provide the argument's
                topic and the premise's type. Premises are either facts from a study or anecdotal evidence and are
                labeled accordingly so that participants can use different approaches for these types.</p>

            <p>"Convey" is meant in a general way; it can show what is described in the premise, but it may also show a
                generalization (e.g., a meme image that illustrates a related abstract concept) or a specialization
                (e.g., a concrete example).
                (e.g., a concrete example). The image can also refer to signs and symbols.</p>

            <p> Interested?</p>
            
            <p>
            <a class="uk-button uk-button-primary" href="https://clef2024-labs-registration.dei.unipd.it/">Register
                now</a></p>
            <p>If you would like to use the Stable Diffusion API for this task, just contact us and we will provide you with the details. </p>

            <h2 id="data">Data</h2>


            The current version dataset can be found <a href="https://doi.org/10.5281/zenodo.10696055">here</a>. Besides
            the arguments, the corpus also contains a crawl of about 9000 images (and associated web pages) as document
            collection. For the retrieved images we also provide additional information such as an automatically
            generated image caption. For participants favoring image generation, we provide access to a <a href="https://touche24-image-generation.web.webis.de/"> Stable Diffusion API </a>. Contact us if you want access.


            <h2 id="submission">Submission</h2>

            <p>We allow three kinds of submissions.</p>

            <ol>
                <li> Retrieval. Like in the last years, participants can retrieve suitable images from a focused crawl,
                    where we also provide automatically recognized text from the image (OCR) and text from web pages
                    that contain the image.</li>
                <li> Prompted Generation. Following the idea of the infinite index, participants can submit prompts for
                    the Stable Diffusion image generator. </li>
                <li> Direct. Participants can employ other reproducible methods for generating images and directly
                    submit them. This includes chart generators, which can generate a bar chart from given numbers in
                    the premise. Also, one can use headline generators
                    to transform the premise into a headline. </li>
            </ol>

            <p>Images alone can be ambiguous and difficult to understand without context, e.g. if they refer to symbolism. That's why we offer the option to submit a rationale along with the image. The rationale is a piece of text that helps us understand the image. For example, it could be a caption or contextual information about the image. The image and rationale will be evaluated together to see how this combination conveys the premise.</p>

            <h3 id="submission">Submission - Format</h3>

            The submission is done through <a href="https://www.tira.io/task-overview/touche-task-3/main-2024-20240419-test">Tira</a>.
            Each team can submit as many runs as it wants. A run, represents a particular algorithm you have used for the task and is either a docker image that generates the needed results or a file that contains the results directly. 
            The exact specifications of this file depend on whether you have chosen the retrieval or the generation approach. If you want to try both methods, please submit separate runs.
            <pre>

            <strong>Image Retrieval</strong>
        
            If you have chosen the retrieval approach, please submit your results in a file called "results.jsonl". 
        
            Each JSON object in your "results.jsonl" file should have the following keys:
            
            argument_id - id of the argument in the arguments.xml file in the released dataset
            method - retrieval
            image_id - the image's ID - it corresponds to the name of the image's directory in the released dataset
            rationale - additional info or caption for the image to understand how it conveys the premise (optional)
            rank - specifies the preference of your image assignemnt (more below) - 1 is highest
            tag - tag defined by you and your group, identifies your group and the particular method you used to obtain the results
        
            An example submission for argument "65302-a-2" would look like the following:
        
            {
            "argument_id": "65302-a-2",
            "method": "retrieval",
            "image_id": "Iffdea3cd664722c736d7d667",
            "rationale": "space is the final frontier",
            "rank": 1,
            "tag": "touche organizers - example submission for image retrieval; manual selection of images"
            }
        
            <strong>Image Generation</strong>
        
            If you are using image generation, submit a file called "generation.zip", which should contain a JSONL file called "results.jsonl" 
            and a directory called "generated_images "containing the generated images.
        
            Please use the following keys for your JSON Objects in the JSONL file:
        
            argument_id - id of the argument in the arguments.xml file in the released dataset
            method - generation 
            prompt - the prompt that you have used to generate the image
            image - name of the generated image, which can be found in the generated_images directory
            rationale - additional info or caption for the image to understand how it conveys the premise (optional)
            rank - specifies the preference of your image assignment (more below)  - 1 is highest
            tag - tag defined by you and your group, identifies your group and the particula method you used to obtain the results
        
            An example looks like this:
        
            {
                "argument_id": "65302-a-2",
                "method": "generation",
                "prompt": "cat looking into the stars",
                "image_name": "space-pic1.jpg",
                "rationale": "space is fascinating",
                "rank": 1,
                "tag": "touche organizers - example submission for image generation; manual prompt engineering"
            }
                    
            Therefore the corresponding "generation.zip for this submission would have the following structure:
        
            - results.jsonl (file)
            - generated_images (directory)
              - space-pic1.jpg (file)

            </pre>

            You can find more information about JSON lines <a href="https://jsonlines.org/"> here </a> and a results.jsonl example for retrieval <a href="../touche24-data/results.jsonl">here</a>.                  
            In each run you can assign up to 10 images to the same argument ID. The rank key is used to determine the preference order of your images for the corresponding argument, where 1 is the most relevant image. 
            This means that if you submit for example 5 images for one argument you need to use the rank values from 1 till 5. Also this means that a run containing multiple image assignments for an argument with the same rank will not be valid.
            You can find an examples for such multiple image asssignments to the same argument in the linked results.jsonl example.
            

            <h2 id="important_dates">Important Dates</h2>
            <ul>
            <li><strong>Dec. 18, 2023:</strong> CLEF Registration opens. [<a href="https://clef2024-labs-registration.dei.unipd.it/">register</a>]</li>
            <li><strong>May   6, 2024:</strong> Approaches submission deadline.</li>
            <li><strong>May  31, 2024:</strong> Participant paper submission<!-- [<a href="../touche23-data/touche-paper-template.zip">template</a>] [<a href="../touche23-data/instructions.txt">short instructions</a>] [<a href="https://clef2023.clef-initiative.eu/resources/wn_instructions.pdf">full instructions</a>] [<a href="https://www.easychair.org/my/conference?conf=clef2023">submit</a>]-->.</li>
            <li><strong>June 21, 2024:</strong> Peer review notification.</li>
            <li><strong>July  8, 2024:</strong> Camera-ready participant papers submission<!--[<a href="../touche23-data/touche-paper-template.zip">template</a>] [<a href="../touche23-data/instructions.txt">short instructions</a>] [<a href="https://clef2023.clef-initiative.eu/resources/wn_instructions.pdf">full instructions</a>] [<a href="https://www.easychair.org/my/conference?conf=clef2023">submit</a>]-->.</li>
            <li><strong>Sep. 9-12, 2024:</strong> <a href="https://clef2024.imag.fr/">CLEF Conference</a> in Grenoble and Touché Workshop.</li>
            <!-- <li><strong>September 8, 2024:</strong> Touché Workshop.</li> -->
            </ul>
            <p>All deadlines are 23:59 <a href="https://time.is/Anywhere_on_Earth">anywhere on earth</a> (UTC-12).</p>
            


            <h2 id="evaluation">Evaluation</h2>

            <ul>
                <li>The premises are usually formulated in general terms. This allows for some interpretation and
                    choices of conveying images.</li>
                <li> If no rationale is given, we will use the prompt (generate) or automatically created (retrieval)
                    caption as the default rationale.</li>
                <li>Try to avoid are very generic images, which get only only relevant though the rationale and show and
                    could be used for many subjects will not get as many points as
                    images that are premise specific. Also, if the generation approach is chosen, the image should not
                    be too unrealistic, e.g., a person should not have four legs, although minor imperfections are
                    are fine. See this <a href="#image_comment">section</a> for further information.
            </ul>


            <h2 id="example">Examples</h2>


            <h3>Example 1</h3>


            <div id="example_1">

                <div class="argument_example">

                    <table>

                        <tr>
                            <td><b>Topic</b></td>
                            <td>Boxing should be banned</td>
                        </tr>
                        <tr>
                            <td><b>Premise</b></td>
                            <td>Boxing can cause serious injury to your body.</td>
                        </tr>
                        <tr>
                            <td><b>Stance</b></td>
                            <td>Pro</td>
                        </tr>
                        <tr>
                            <td><b>Claim</b></td>
                            <td>Boxing is dangerous.</td>
                        </tr>
                        <tr>
                            <td><b>Type</b></td>
                            <td>Anecdotal</td>
                        </tr>
                    </table>
                </div>

                <p><b>Submissions:</b>

                <div class="image_examples_div">

                    <div class="image_example_submission">
                        <div class="sing_example_image_container">

                            <img class="sing_example_image" src="../touche24-data/boxing_injuries.jpg"
                                alt="Sweating fighter is punched in the face">
                        </div>

                        <div class="sing_example_image_info">

                            <table>
                                <tr>
                                    <td class="image_descriptor"> Rationale</td>
                                    <td>Heavy blows to the face are common in boxing. </td>
                                </tr>
                                <tr>
                                    <td class="image_descriptor">Source</td>
                                    <td>retrieved (Sweating fighter is punched in the face - gettyimages)</td>

                                </tr>

                            </table>


                        </div>
                    </div>

                    <div class="image_example_submission">
                        <div class="sing_example_image_container">
                            <img class="sing_example_image" src="../touche24-data/brain_injury.jpg"
                                alt="generated by Stable Diffusion.">
                        </div>
                        <div class="sing_example_image_info">



                            <table>
                                <tr>
                                    <td class="image_descriptor"> Rationale</td>
                                    <td>Concussion caused by heavy blows in boxing</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="image_descriptor">Source </td>
                                    <td>retrieved (https://www.shutterstock.com/de/image-illustration/headache-5407147)
                                    </td>

                                </tr>

                            </table>

                        </div>
                    </div>


                    <div class="image_example_submission">
                        <div class="sing_example_image_container">
                            <img class="sing_example_image" src="../touche24-data/boxer_punch.jpg"
                                alt="generated by Stable Diffusion.">
                        </div>
                        <div class="sing_example_image_info">


                            <table>
                                <tr>
                                    <td class="image_descriptor"> Rationale</td>
                                    <td>It causes a lot of pain and hurt.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="image_descriptor">Source</td>
                                    <td>generated</td>

                                </tr>
                                <tr>

                                </tr>
                            </table>

                        </div>
                    </div>


                </div>

            </div>

            <h3>Example 2</h3>

            <div id="example_2">

                <div class="argument_example">
                    <table>
                        <tr>
                            <td><b>Topic</b></td>
                            <td>This house believes that democratic governments should require voters to present photo
                                identification at the polling station</td>
                        </tr>
                        <tr>
                            <td><b>Premise</b></td>
                            <td>People will forget their IDs and cannot use their democratic right for voting</td>
                        </tr>
                        <tr>
                            <td><b>Stance</b></td>
                            <td>Contra</td>
                        </tr>
                        <tr>
                            <td><b>Claim</b></td>
                            <td>Use of Photo ID will result in exclusion of voters!</td>
                        </tr>
                        <tr>
                            <td><b>Type</b></td>
                            <td>Anecdotal</td>
                        </tr>
                    </table>
                </div>


                <p><b>Submissions:</b>

                <div class="image_examples_div">


                    <div class="image_example_submission">

                        <div class="sing_example_image_container">
                            <img class="sing_example_image" src="../touche24-data/reminder_photo_id.jpg"
                                alt="reminder not to forget photo id">
                        </div>
                        <div class="sing_example_image_info">

                            <table>
                                <tr>
                                    <td class="image_descriptor"> Rationale</td>
                                    <td>People need to be reminded not to forget their ID.</td>
                                </tr>
                                <tr>
                                    <td class="image_descriptor">Source</td>
                                    <td>retrieved (Geoffrey Swaine/Shutterstock)</td>

                                </tr>

                            </table>

                        </div>
                    </div>



                    <div class="image_example_submission">
                        <div class="sing_example_image_container">

                            <img class="sing_example_image" src="../touche24-data/young_man_voting_station.jpg"
                                alt="yound man at voting station">
                        </div>
                        <div class="sing_example_image_info">


                            <table>
                                <tr>
                                    <td class="image_descriptor"> Rationale</td>
                                    <td>Young Man in the voting station forgot his Photo ID.</td>
                                </tr>
                                <tr>
                                    <td class="image_descriptor">Source</td>
                                    <td>generated</td>

                                </tr>

                            </table>


                        </div>
                    </div>


                    <div class="image_example_submission">
                        <div class="sing_example_image_container">

                            <img class="sing_example_image" src="../touche24-data/photo_id.jpg" alt="photo id">
                        </div>
                        <div class="sing_example_image_info">


                            <table>
                                <tr>
                                    <td class="image_descriptor"> Rationale</td>
                                    <td>Photo IDs can be forgotten at home.</td>
                                </tr>
                                <tr>
                                    <td class="image_descriptor">Source</td>
                                    <td>generated</td>

                                </tr>

                            </table>


                        </div>
                    </div>

                </div>



            </div>

            <h3>Example 3</h3>


            <div id="example_3">

                <div class="argument_example">
                    <table>
                        <tr>
                            <td><b>Topic</b></td>
                            <td>Should performance-enhancing drugs be accepted in sports?</td>
                        </tr>
                        <tr>
                            <td><b>Premise</b></td>
                            <td>Performance-enhancing drugs create inequality in sports and undermine the essence of
                                fair competition.</td>
                        </tr>
                        <tr>
                            <td><b>Stance</b></td>
                            <td>Contra</td>
                        </tr>
                        <tr>
                            <td><b>Claim</b></td>
                            <td>Performance-enhancing drugs should not be accepted in sport.</td>
                        </tr>
                        <tr>
                            <td><b>Type</b></td>
                            <td>Anecdotal</td>
                        </tr>
                    </table>

                </div>

                <p><b>Submissions:</b>

                <div class="image_examples_div">

                    <div class="image_example_submission">
                        <div class="sing_example_image_container">

                            <img class="sing_example_image" src="../touche24-data/drugs_medals.jpg"
                                alt="drugs and medals">
                        </div>

                        <div class="sing_example_image_info">

                            <table>
                                <tr>
                                    <td class="image_descriptor"> Rationale</td>
                                    <td>With performance-enhancing drugs, you can win medals you don't
                                        deserve.

                                    </td>
                                </tr>
                                <tr>
                                    <td class="image_descriptor">Source</td>
                                    <td> retrieved (https://sportsanddrugs.procon.org/)</td>

                                </tr>

                            </table>


                        </div>
                    </div>

                    <div class="image_example_submission">
                        <div class="sing_example_image_container">
                            <img class="sing_example_image" src="../touche24-data/athlete.jpg"
                                alt="hard training athlete">
                        </div>
                        <div class="sing_example_image_info">



                            <table>
                                <tr>
                                    <td class="image_descriptor"> Rationale</td>
                                    <td>Hard training athletes cannot win if people are using performance
                                        enhancing
                                        drugs.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="image_descriptor">Source</td>
                                    <td>generated</td>

                                </tr>

                            </table>

                        </div>
                    </div>


                    <div class="image_example_submission">
                        <div class="sing_example_image_container">
                            <img class="sing_example_image" src="../touche24-data/woman_finish.jpg"
                                alt="hard training athlete">
                        </div>
                        <div class="sing_example_image_info">

                            <table>
                                <tr>
                                    <td class="image_descriptor"> Rationale</td>
                                    <td>Hard training athletes cannot win if people are using performance
                                        enhancing
                                        drugs.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="image_descriptor">Source</td>
                                    <td>generated</td>

                                </tr>

                            </table>

                        </div>
                    </div>


                </div>

            </div>


            <h2 id="image_comment">A comment on using images</h2>

            <p>
                As we can see from these examples, a rationale can be critical to associating an image with a premise.
                Try to avoid images that are too generic and only relevant because of the rationale. Look at the photo
                of the surprised woman. It is not possible to make a connection to the general topic of voting and photo
                IDs from the image alone. The connection to the issue is only made through the rationale. It gives the
                impression that this image could be used for any topic, such as a young woman being surprised about the
                dangers of boxing. Such images receive a lower relevance rating. The same goes for obviously incorrectly
                generated images, such as the bar through the athlete's head. </p>
            <div id="example_comments">


                <h3>Example 1</h3>

                <div class="argument_example">
                    <table>
                        <tr>
                            <td><b>Topic</b></td>
                            <td>This house believes that democratic governments should require voters to present photo
                                identification at the polling station</td>
                        </tr>
                        <tr>
                            <td><b>Premise</b></td>
                            <td>People will forget their IDs and cannot use their democratic right for voting</td>
                        </tr>
                        <tr>
                            <td><b>Stance</b></td>
                            <td>Contra</td>
                        </tr>
                        <tr>
                            <td><b>Claim</b></td>
                            <td>Use of Photo ID will result in exclusion of voters!</td>
                        </tr>
                        <tr>
                            <td><b>Type</b></td>
                            <td>Anecdotal</td>
                        </tr>
                    </table>
                </div>

                <p><b>Submission:</b>

                <div class="image_examples_div">

                    <div class="image_example_submission">

                        <div class="sing_example_image_container">
                            <img class="sing_example_image" src="../touche24-data/shocked_woman.jpg"
                                alt="image of a shocked young woman">
                        </div>
                        <div class="sing_example_image_info">

                            <table>
                                <tr>
                                    <td class="image_descriptor"> Rationale</td>
                                    <td>Young Woman forgot her Photo ID.</td>
                                </tr>
                                <tr>
                                    <td class="image_descriptor">Source</td>
                                    <td>retrieved (Image by benzoix on Freepik)</td>

                                </tr>

                            </table>

                        </div>
                    </div>
                </div>
                <h3>Example 2</h3>


                <div class="argument_example">

                    <table>
                        <tr>
                            <td><b>Topic</b></td>
                            <td>Should performance-enhancing drugs be accepted in sports?</td>
                        </tr>
                        <tr>
                            <td><b>Premise</b></td>
                            <td>Performance-enhancing drugs create inequality in sports and undermine the essence of
                                fair competition.</td>
                        </tr>
                        <tr>
                            <td><b>Stance</b></td>
                            <td>Contra</td>
                        </tr>
                        <tr>
                            <td><b>Claim</b></td>
                            <td>Performance-enhancing drugs should not be accepted in sport.</td>
                        </tr>
                        <tr>
                            <td><b>Type</b></td>
                            <td>Anecdotal</td>
                        </tr>
                    </table>
                </div>

                <p><b>Submissions</b>


                <div class="image_examples_div">

                    <div class="image_example_submission">
                        <div class="sing_example_image_container">
                            <img class="sing_example_image" src="../touche24-data/athlete_error.jpg"
                                alt="athlete with unrealistic proportions">
                        </div>
                        <div class="sing_example_image_info">


                            <table>
                                <tr>
                                    <td class="image_descriptor"> Rationale</td>
                                    <td>Hard training athletes cannot win if people are using performance
                                        enhancing
                                        drugs.</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="image_descriptor">Source </td>
                                    <td>generated</td>

                                </tr>

                            </table>

                        </div>
                    </div>
                </div>
            </div>






            <!--
<h3>TIRA Tutorial and TIRA Baselines</h3>
<p>
We provide a TIRA tutorial that provides baselines that can be executed in TIRA at <a href="https://github.com/touche-webis-de/touche-code/tree/main/clef23/image-retrieval-for-arguments/baseline-pyterrier">https://github.com/touche-webis-de/touche-code/tree/main/clef23</a>.
</p>
  

<p>In case of problems or questions concerning TIRA, please use the <a href="https://www.tira.io/c/touche/9">TIRA forum</a>.</p>
<p>We provide relevance judgments for submitted runs as binary judgments on topic-image pairs for topic relevance, the pro-stance, and the con-stance. [<a href="https://zenodo.org/record/6786949/files/touche-task3-001-050-relevance.qrels?download=1">qrels</a>] [<a href="https://github.com/touche-webis-de/touche-code/blob/main/clef22/image-retrieval-for-arguments/submission-evaluator.sh">evaluator</a>]</p>

<h2 id="tira-quickstart">TIRA Quickstart</h2>
<p>Participant software is run in a virtual machine. Log in to <a href="https://www.tira.io">TIRA</a>, go to the <a href="https://www.tira.io/task/touche-task-1/dataset/touche-task-1-2022-02-16">task's dataset page</a>, and click on "&gt;_ SUBMIT". Click the "CONNECTION INFO" button for how to connect to the virtual machine. Click on "POWER ON" if the state is not "RUNNING".</p>
<img width="75%" src="../touche22-figures/task2-tira-vm-overview.png" alt="Virtual machine state in TIRA.">
<p>The software is executed on the command line with two parameters: (1) <code>$inputDataset</code> refers to a directory that contains the <a href="#data">collection</a>; (2) <code>$outputDir</code> refers to a directory in which the software has to create the <a href="#submission">submission file</a> named <code>run.txt</code>. Specify exactly how each software of your virtual machine is run using the "Command" field in the TIRA web interface:
<img width="75%" src="../touche22-figures/task2-tira-example-software.png" alt="Software configuration in TIRA.">
<p>As you "RUN" the software, you will not be able to connect to the virtual machine (takes at least 10 minutes). Once finished, click on "INSPECT" to check on the run and click on "EVALUATE" for a syntax check (give it a few minutes, then check back on the page). Your run will later be reviewed and evaluated by the organizers. If uncertain on something, ask in the <a href="https://www.tira.io/c/touche/9">forum</a> or send a mail/message to <a href="#task-committee">Johannes</a>.</p>
<img width="75%" src="../touche22-figures/task2-tira-example-evaluation.png" alt="A run in TIRA.">
<p>Create a separate "Software" entry in the TIRA web interface for each of your approaches. NOTE: By submitting your software, you retain full copyrights. You agree to grant us usage rights for evaluation of the corresponding data generated by your software. We agree not to share your software with a third party or use it for any purpose other than research.</p>
-->




            <!--
<h2><a id="related-work"></a>Related Work</h2>
<ul>
<li>Johannes Kiesel, Nico Reichenbach, Benno Stein, and Martin Potthast. <a href="https://webis.de/publications.html#kiesel_2021e">Image Retrieval for Arguments Using Stance-Aware Query Expansion.</a> 8th Workshop on Argument Mining (ArgMining 2021) at EMNLP, November 2021.</li>
<li>Dimitar Dimitrov, Bishr Bin Ali, Shaden Shaar, Firoj Alam, Fabrizio Silvestri, Hamed Firooz, Preslav Nakov, and Giovanni Da San Martino. <a href="https://aclanthology.org/2021.semeval-1.7/">SemEval-2021 Task 6: Detection of Persuasion Techniques in Texts and Images</a>. 15th International Workshop on Semantic Evaluation (SemEval 2021), August 2021.</li>
<li>Keiji Yanai. <a href="https://dl.acm.org/doi/10.1145/1242572.1242816">Image collector III: a web image-gathering system with bag-of-keypoints.</a> 16th International Conference on World Wide Web (WWW 2007), May 2007.</li>
</ul>
-->

            <h2 id="task-committee">Task Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/heinrich.html gender="male" %}
                {% include people-cards/kiesel.html gender="male" %}
                {% include people-cards/potthast.html gender="male" %}
                {% include people-cards/stein.html gender="male" %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2024 %}
            </div>
        </div>
    </div>
</main>
