---
layout: default
nav_active: events
title: Touché at CLEF 2024
description: Touché at CLEF 2024
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">Touché</a></li>
<li><a href="../../events.html">Events</a></li>
<li class="uk-disabled"><a href="#">Touché at CLEF 2024</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
<div class="uk-container">
<div class="uk-container">
<h1 class="uk-margin-remove-top">Touché at CLEF 2024</h1>
<ul class="uk-list">
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-synopsis">Synopsis/Call</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-tasks">Shared Tasks</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-registration">Registration</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-important-dates">Important Dates</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-organizing-committee">Organizing Committee</a></li>
</ul>
</div>

<div class="uk-container uk-margin-medium">
<h2 id="index-synopsis">Synopsis/Call</h2>
<p>Decision-making and opinion-forming are everyday tasks that involve weighing pro and con arguments for or against different options. Our goal is to foster the development of technologies that support people in decision-making and opinion-forming and to improve our understanding of these processes. We invite you to participate in the 5th Touché lab on argumentation at <a href="http://clef2024.clef-initiative.eu/">CLEF 2024</a> featuring three tasks.</p>

<h2 id="index-tasks" class="uk-margin-small-top">Shared Tasks</h2>
<ul>
<li><a href="{{ '/shared-tasks.html#human-value-detection' | relative_url }}">Human Value Detection</a><!-- &nbsp; [<a href="https://www.tira.io/task-overview/valueeval-2024-human-value-detection/">TIRA</a>]--></li>
<li><a href="{{ '/shared-tasks.html#ideology-and-power-identification-in-parliamentary-debates' | relative_url }}">Ideology and Power Identification in Parliamentary Debates</a></li>
<li><a href="{{ '/shared-tasks.html#image-retrieval-for-arguments' | relative_url }}">Image Retrieval/Generation for Arguments</a><!-- &nbsp; [<a href="https://www.tira.io/task-overview/touche-task-3">TIRA</a>] --></li>
</ul>

<a class="uk-button uk-button-primary" href="https://clef2024-labs-registration.dei.unipd.it/">Register now</a><br>
<!-- Then create your team in TIRA for the respective tasks following the links above, if already available for the task. -->

<!--
<p><strong>Register for the CLEF 2024 conference and Touché workshop:</strong></p>
<a class="uk-button uk-button-primary" href="https://clef2024.clef-initiative.eu/index.php?page=Pages/conferenceRegistration.html">Registration Information</a>           
-->

<h2 id="index-important-dates" class="uk-margin-large-top">Important Dates</h2>
<ul>
<li><strong>Dec. 18, 2023:</strong> CLEF Registration opens. [<a href="https://clef2024-labs-registration.dei.unipd.it/">register</a>]</li>
<li><strong>Apr. 22, 2024:</strong> CLEF Registration closes: late registration via submission system, see the respective task pages</li>
<li><strong>May   6, 2024:</strong> Approaches submission deadline.</li>
<li><strong>May  31, 2024:</strong> Participant paper submission<!-- [<a href="../touche23-data/touche-paper-template.zip">template</a>] [<a href="../touche23-data/instructions.txt">short instructions</a>] [<a href="https://clef2023.clef-initiative.eu/resources/wn_instructions.pdf">full instructions</a>] [<a href="https://www.easychair.org/my/conference?conf=clef2023">submit</a>]-->.</li>
<li><strong>June 21, 2024:</strong> Peer review notification.</li>
<li><strong>July  8, 2024:</strong> Camera-ready participant papers submission<!--[<a href="../touche23-data/touche-paper-template.zip">template</a>] [<a href="../touche23-data/instructions.txt">short instructions</a>] [<a href="https://clef2023.clef-initiative.eu/resources/wn_instructions.pdf">full instructions</a>] [<a href="https://www.easychair.org/my/conference?conf=clef2023">submit</a>]-->.</li>
<li><strong>Sep. 9-12, 2024:</strong> <a href="https://clef2024.imag.fr/">CLEF Conference</a> in Grenoble and Touché Workshop.</li>
<!-- <li><strong>September 8, 2024:</strong> Touché Workshop.</li> -->
</ul>
<!--
<p>All deadlines are 23:59 <a href="https://en.wikipedia.org/wiki/Central_European_Summer_Time">CEST</a>.</p>
-->

<h2 id="index-organizing-committee">Organizing Committee</h2>
<div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
{% include people-cards/kiesel.html %}
{% include people-cards/coltekin.html gender="male" %}
{% include people-cards/heinrich.html %}
{% include people-cards/froebe.html %}
{% include people-cards/potthast.html %}
{% include people-cards/wachsmuth.html %}
{% include people-cards/stein.html %}
</div>
<div class="uk-container uk-padding-large uk-padding-remove-bottom">
{% include organizations/clef-organizations-section.html year=2024 %}
</div>
</div>
</div>
</main>
