---
layout: default
nav_active: shared-tasks
title: Touché at SemEval 2023 - Human Value Detection
description: Touché at SemEval 2023 - Human Value Detection
---
<style>
pre .column {
  background-color: #e8e8e8;
}

.goals, .goals > li {
  display: inline;
  color: #666;
}
.goals > li:not(:last-child)::after {
  content: '; ';
}
</style>

<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">Touché</a></li>
<li><a href="../../shared-tasks.html">Shared Tasks</a></li>
<li class="uk-disabled"><a href="#">Human Value Detection 2023</a></li>
</ul>
</nav>

<main>
<div class="uk-section uk-section-default">
<div class="uk-container uk-margin-small">
<h1 class="uk-margin-remove-top uk-margin-remove-bottom">Human Value Detection 2023</h1>
<span style="color:#909090;">SemEval 2023 Task 4. ValueEval: Identification of Human Values behind Arguments</span>
<ul class="uk-list">
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#important-dates">Important Dates</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task">Task</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#submission">Submission</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
</ul>
</div>

<div class="uk-container uk-margin-medium">

<h2 id="synopsis">Synopsis</h2>
<ul>
<li>Task: Given a textual argument and a human value category, classify whether or not the argument draws on that category. [<a href="https://webis.de/publications.html#kiesel_2022b">paper</a>]</li>
<li>Communication: [mailing lists: <a href="https://groups.google.com/group/valueeval/subscribe">task</a>, <a href="https://groups.google.com/group/valueeval-organizers/subscribe">organizers</a>] [<a href="https://twitter.com/ValueEval">twitter</a>]</li>
<li>Input: [<a href="https://doi.org/10.5281/zenodo.6814563">data</a>]</li>
<li>Code: [<a href="https://github.com/webis-de/acl22-identifying-the-human-values-behind-arguments">baselines</a>]</li>
</ul>
<a class="uk-button uk-button-primary" href="https://forms.gle/ib72JUtsxhb3ZMNw5">Register now</a>

<h2 id="important-dates" class="uk-margin-large-top">Important Dates</h2>
<ul>
<li><strong>In November, 2022:</strong> Run submission opens.</li>
<li><strong>December 9, 2023:</strong> Early-bird run submission closes.</li>
<li><strong>January 24, 2023:</strong> Run submission closes.</li>
<li><strong>January 31, 2023:</strong> Run evaluation results out.</li>
<li><strong>In February 2023:</strong> Paper submission deadline.</li>
<li><strong>In March 2023:</strong> Paper notification.</li>
<li><strong>In April 2023:</strong> Camera-ready paper submission deadline.</li>
<li><strong>In Summer 2023:</strong> SemEval Workshop (co-located with a major NLP conference).</li>
</ul>
<p>All deadlines are 23:59 <a href="https://time.is/Anywhere_on_Earth">anywhere on earth</a> (UTC-12).</p>

<h2 id="task">Task</h2>
<p>Given a textual argument and a human value category, classify whether or not the argument draws on that category. This task uses a set of 20 value categories compiled from the social science literature and described in our <a href="https://webis.de/publications.html#kiesel_2022b">ACL paper</a>. Participants can submit runs (also known as approaches or systems) that detect one, a subset, or all of these values in arguments. Arguments are given as premise text, conclusion text, and binary stance of the premise to the conclusion ("in favor of" or "against").</p>
<p>The 20 value categories (labels to be detected) with exemplary effects that corresponding arguments may target: [<a href="https://zenodo.org/record/6818093/files/value-categories.json?download=1">source</a>]</p>
<ol class="level2">
<li>Self-direction: thought<ul class="goals"> <li>fostering creativity and curiosity</li> <li>allowing to figure things out by oneself</li> <li>reducing censorship and manipulation of thought</li> </ul></li>
<li>Self-direction: action<ul class="goals"> <li>fostering self-determination</li> <li>increasing control on personal data</li> <li>reducing need for explicit consent</li> <li>reducing surveillance</li> </ul></li>
<li>Stimulation<ul class="goals"> <li>fostering risk-taking</li> <li>allowing people to change their life frequently</li> <li>providing diverse and perspective-changing experiences</li> </ul></li>
<li>Hedonism<ul class="goals"> <li>making life enjoyable</li> <li>providing leisure</li> <li>providing opportunities to have fun</li> <li>providing sensuous gratification</li> </ul></li>
<li>Achievement<ul class="goals"> <li>fostering ambition, learning, reflectivity, and courage</li> <li>allowing for success</li> <li>recognizing achievements</li> </ul></li>
<li>Power: dominance<ul class="goals"> <li>fostering leadership</li> <li>gaining favors, influence, and control</li> <li>putting the respective experts in charge</li><li>promoting hierarchies</li> </ul></li>
<li>Power: resources<ul class="goals"> <li>allowing to gain, show, and use wealth</li><li>providing resources to control events</li><li>increasing financial prosperity</li> </ul></li>
<li>Face<ul class="goals"> <li>avoiding humiliation</li><li>providing social recognition</li> <li>allowing to improve one's reputation</li><li>protecting one's public image</li> </ul></li>
<li>Security: personal<ul class="goals"> <li>promoting groups (clubs, associations, ...)</li> <li>promoting cleanliness</li> <li>fostering mental and physical health</li> <li>avoiding indebtedness</li> </ul></li>
<li>Security: societal<ul class="goals"> <li>caring for and defending citizens</li> <li>preventing crimes</li> <li>promoting the social order and stability</li> </ul></li>
<li>Tradition<ul class="goals"> <li>honoring traditional practices and ways of thinking</li> <li>preserving customs</li> <li>promoting some religion</li> <li>allowing to devote oneself to the faith</li> </ul></li>
<li>Conformity: rules<ul class="goals"> <li>abiding to laws or rules</li> <li>promoting to meet one's obligations</li> <li>fostering to exercise restraint and good manners</li> </ul></li>
<li>Conformity: interpersonal<ul class="goals"> <li>avoiding to upset other people</li> <li>decreasing annoyances to others</li> <li>showing faith and respect towards one's elders</li> </ul></li>
<li>Humility<ul class="goals"> <li>demoting arrogance</li> <li>emphasizing the successful group over individuals</li> <li>giving back to society</li> <li>promoting satisfaction with what one has</li> </ul></li>
<li>Benevolence: caring<ul class="goals"> <li>fostering a readiness to help</li> <li>promoting honesty</li> <li>allowing for redemption</li> <li>promoting families</li> <li>allowing to show affection</li> </ul></li>
<li>Benevolence: dependability<ul class="goals"> <li>fostering dependability</li> <li>promoting reliability</li> <li>fostering loyalty towards friends</li> </ul></li>
<li>Universalism: concern<ul class="goals"> <li>helping the poor and weak</li> <li>providing equal opportunities</li> <li>promoting justice</li> <li>reducing unfair discrimination</li> <li>avoiding conflicts</li> </ul></li>
<li>Universalism: nature<ul class="goals"> <li>promoting restoration programs</li> <li>avoiding chemicals and modified organisms</li> <li>being in harmony with nature</li> <li>promoting fine arts</li> </ul></li>
<li>Universalism: tolerance<ul class="goals"> <li>clearing up with prejudices</li> <li>promoting dialogue across groups</li> <li>accepting disagreements</li> <li>demoting partisans or fanatics</li> </ul></li>
<li>Universalism: objectivity<ul class="goals"> <li>fostering rationality and truth-seeking</li> <li>promoting to form an unbiased opinion</li> <li>providing the means for informed decisions</li> </ul></li>
</ol>


<h2 id="data">Data</h2>
<p>Data is provided as tab-separated values files with one header line. We will continuously improve the data until early November 2022. Stay up-to-date, report problems, and suggest new data on the <a href="https://groups.google.com/group/valueeval/subscribe">task mailing list</a>. [<a href="https://doi.org/10.5281/zenodo.6814563">download</a>]</p>
<p>The <code>arguments-training/validation/testing.tsv</code> files contain one argument per line: its unique <span class="column">argument ID</span>, the <span class="column">conclusion</span>, the premise's <span class="column">stance</span> towards the conclusion, and the <span class="column">premise</span> itself. Example with tab-separated columns highlighted:</p>
<pre>
<span class="column">Argument ID</span>	<span class="column">Conclusion</span>	<span class="column">Stance</span>	<span class="column">Premise</span>
<span class="column">A01010</span>	<span class="column">We should prohibit school prayer</span>	<span class="column">against</span>	<span class="column">it should be allowed if the student wants to pray as long as it is not interfering with his classes</span>
<span class="column">A01011</span>	<span class="column">We should abolish the three-strikes laws</span>	<span class="column">in favor of</span>	<span class="column">three strike laws can cause young people to be put away for life without a chance to straight out their life</span>
<span class="column">A01012</span>	<span class="column">The use of public defenders should be mandatory</span>	<span class="column">in favor of</span>	<span class="column">the use of public defenders should be mandatory because some people don't have money for a lawyer and this would help those that don't</span>
</pre>
<p>The <code>labels-training/validation/testing.tsv</code> files also contain one argument per line: its unique <span class="column1">argument ID</span> and one column for each of the 20 value categories with a <code>1</code> meaning that the argument resorts to the value category and a <code>0</code> that not. Example with tab-separated columns highlighted:</p>
<pre>
<span class="column">Argument ID</span>	<span class="column">Self-direction: thought</span>	<span class="column">Self-direction: action</span>	<span class="column">Stimulation</span>	<span class="column">Hedonism</span>	<span class="column">Achievement</span>	<span class="column">Power: dominance</span>	<span class="column">Power: resources</span>	<span class="column">Face</span>	<span class="column">Security: personal</span>	<span class="column">Security: societal</span>	<span class="column">Tradition</span>	<span class="column">Conformity: rules</span>	<span class="column">Conformity: interpersonal</span>	<span class="column">Humility</span>	<span class="column">Benevolence: caring</span>	<span class="column">Benevolence: dependability</span>	<span class="column">Universalism: concern</span>	<span class="column">Universalism: nature</span>	<span class="column">Universalism: tolerance</span>	<span class="column">Universalism: objectivity</span>
<span class="column">A01010</span>	<span class="column">1</span>	<span class="column">1</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">1</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">1</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>
<span class="column">A01011</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">1</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">1</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">1</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">1</span>	<span class="column">1</span>
<span class="column">A01012</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">1</span>	<span class="column">0</span>	<span class="column">0</span>	<span class="column">0</span>
</pre>
<p>We are currently looking for more argument datasets (conclusion + stance + premise) to annotate and incorporate, especially datasets from different cultures and genres. Please send suggestions to our <a href="mailto:valueeval@googlegroups.com">task</a> or <a href="mailto:valueeval-organizers@googlegroups.com">organizers</a> mailing lists.</p>

<h2 id="evaluation">Evaluation</h2>
<p>Runs are evaluated on the basis of F1-score, Precision, and Recall, once averaged over all value categories, but also for each category individually. The runs are ranked according to the F1-score.</p>

<h2 id="submission">Submission</h2>
<p>We expect to open the submission system in November 2022. Teams are allowed to submit up to 4 runs each. Teams are allowed to submit one additional "early bird" run on the final data until December 9.</p>

<h2 id="task-committee">Task Committee</h2>
<div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
{% include people-cards/kiesel.html gender="male" %}
{% include people-cards/alshomary.html gender="male" %}
{% include people-cards/wachsmuth.html gender="male" %}
{% include people-cards/stein.html gender="male" %}
</div>

</div>
</div>
</main>
