---
layout: default
nav_active: shared-tasks
title: Touché at CLEF 2023 - Image Retrieval for Arguments
description: Touché at CLEF 2023 - Image Retrieval for Arguments
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">Touché</a></li>
<li><a href="../../shared-tasks.html">Shared Tasks</a></li>
<li class="uk-disabled"><a href="#">Image Retrieval for Arguments 2023</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
<div class="uk-container">
<div class="uk-container uk-margin-small">
<h1 class="uk-margin-remove-top uk-margin-remove-bottom">Image Retrieval for Arguments 2023</h1>
<ul class="uk-list">
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#submission">Submission</a></li>
<!--
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#tira-quickstart">TIRA Quickstart</a></li>
-->
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
</ul>
</div>

<div class="uk-container uk-margin-medium">

<h2 id="synopsis">Synopsis</h2>
<ul>
<li>Task: Given a controversial topic, the task is to retrieve images (from web pages) for each stance (pro/con) that show support for that stance.</li>
<li>Input: [<a href="../touche23-data/topics-task3.xml" download>topics</a>] [<a href="https://webis.de/data.html#touche23-image-retrieval-for-arguments">data</a>]</li>
<li>Submission: <!-- [queries: <a href="https://github.com/touche-webis-de/touche-code/tree/main/clef23/image-retrieval-for-arguments/query-submission-baselines">baselines code</a>, <a href="https://github.com/touche-webis-de/touche-code/tree/main/clef23/image-retrieval-for-arguments/query-submission-evaluator">validator</a>] --> [<a href="https://www.tira.io/task/touche-task-3">submit</a>]</li>
</ul>

<a class="uk-button uk-button-primary" href="https://clef2023-labs-registration.dei.unipd.it/">Register now</a>

<h2 id="data">Data</h2>
<p>This task uses a focused crawl of about 56K images (and associated web pages) as document collection. The crawl is created from several image search queries for each of the 50 topics. The relevance judgments of <a href="https://touche.webis.de/clef22/touche22-web/image-retrieval-for-arguments.html">last year</a> are available for training supervised approaches. The output of last year's approaches can be inspected on <a href="https://images.args.me">images.args.me</a>. Registered teams were invited in 2022 to submit search queries that were then used to extend the crawl. [<a href="https://webis.de/data.html#touche23-image-retrieval-for-arguments">data</a>]</p>

<!--
<h3 id="query-submission">Query Submission</h3>
<p>Registered teams can submit queries on each of the 50 topics until December 31, 2022. Both automatically and manually created queries are welcome. We will integrate the results of submitted queries into the dataset in early 2023. submitted queries will be evaluated using precision@k, similar to but separate from the main task, and the results will be published for each topic. a valid submission may include queries on fewer than all 50 topics.</p>
<p>Submission uses <a href="https://www.tira.io/task/touche-task-3">TIRA</a>, specifically the <code>query-submission-2023</code> dataset. Either substitute "PRO" and "CON" in the <a href="../touche23-data/query-submission-form-task3.tsv">query submission form</a> and use "upload submission" in TIRA to submit it, or provide a generic query expansion method as Docker container and use TIRA's "Docker submission". See the <a href="https://github.com/touche-webis-de/touche-code/tree/main/clef23/image-retrieval-for-arguments/query-submission-baselines">baselines code</a> to get you started with Docker submissions. Up to two valid submissions are allowed per team (please write us a mail if you did more than two submissions). [<a href="../touche23-data/topics-task3.xml" download>topics</a>] [<a href="../touche23-data/query-submission-form-task3.tsv">form</a>] [<a href="https://www.tira.io/task/touche-task-3">submit</a>]
<p>In case of problems or questions concerning TIRA, please use the <a href="https://www.tira.io/c/touche/9">TIRA forum</a>. Note: At the moment, the TIRA web interface sometimes fails to provide feedback on actions. Reload the page in such cases.</p>
-->

<h2 id="evaluation">Evaluation</h2>
<p>Like last year, systems are evaluated on 50 topics by the ratio of images among the 20 retrieved images for each topic (10 images for each stance) that are relevant for the respective topic and stance. [<a href="../touche23-data/topics-task3.xml" download>topics</a>]</p>

<h2 id="submission">Submission</h2>
<p>This task uses <a href="https://www.tira.io/task/touche-task-3">TIRA</a> for submissions, which allows for both run file upload and Docker image submission. For each topic and stance, include 10 retrieved images. Each team can submit up to 5 different runs.</p>
<p>The submission format adapts the standard TREC format. Each line corresponds to an image retrieved for some topic and stance at a certain rank, making a run file 1000 lines long (50 topics, 2 stances, 10 ranks). Each line contains the following fields, separated by single whitespaces:</p>
<ul>
<li>The topic number (51 to 100).</li>
<li>The stance ("PRO" or "CON").</li>
<li>The image's ID (corresponds to the name of the image's directory in the collection; always 17 characters long and starts with "I").</li>
<li>The rank (1 to 10 in increasing order per topic and stance). Not used in this year's evaluation.</li>
<li>A score (integer or floating point; non-increasing per topic and stance). Not used in this year's evaluation.</li>
<li>A tag that identifies your group and the method you used to produce the run.</li>
</ul>
For example:
<pre>
1 PRO I000330ba4ea0ad13 1 17.89 myGroupMyMethod
1 PRO I0005e6fe00ea17fd 2 16.43 myGroupMyMethod
...
1 CON I0009d5f038fe6f2e 1 15.89 myGroupMyMethod
1 CON I000f34bd3f8cb030 2 14.43 myGroupMyMethod
...
</pre>
  
<h3>TIRA Tutorial and TIRA Baselines</h3>
<p>
We provide a TIRA tutorial that provides baselines that can be executed in TIRA at <a href="https://github.com/touche-webis-de/touche-code/tree/main/clef23/image-retrieval-for-arguments/baseline-pyterrier">https://github.com/touche-webis-de/touche-code/tree/main/clef23</a>.
</p>
  

<p>In case of problems or questions concerning TIRA, please use the <a href="https://www.tira.io/c/touche/9">TIRA forum</a>.</p>
<!-- <p>We provide relevance judgements for submitted runs as binary judgements on topic-image pairs for topic-relevance, the pro-stance, and the con-stance. [<a href="https://zenodo.org/record/6786949/files/touche-task3-001-050-relevance.qrels?download=1">qrels</a>] [<a href="https://github.com/touche-webis-de/touche-code/blob/main/clef22/image-retrieval-for-arguments/submission-evaluator.sh">evaluator</a>]</p> -->

<!--
<h2 id="tira-quickstart">TIRA Quickstart</h2>
<p>Participant software is run in a virtual machine. Log in to <a href="https://www.tira.io">TIRA</a>, go to the <a href="https://www.tira.io/task/touche-task-1/dataset/touche-task-1-2022-02-16">task's dataset page</a>, and click on "&gt;_ SUBMIT". Click the "CONNECTION INFO" button for how to connect to the virtual machine. Click on "POWER ON" if the state is not "RUNNING".</p>
<img width="75%" src="../touche22-figures/task2-tira-vm-overview.png" alt="Virtual machine state in TIRA.">
<p>The software is executed on the command line with two parameters: (1) <code>$inputDataset</code> refers to a directory that contains the <a href="#data">collection</a>; (2) <code>$outputDir</code> refers to a directory in which the software has to create the <a href="#submission">submission file</a> named <code>run.txt</code>. Specify exactly how each software of your virtual machine is run using the "Command" field in the TIRA web interface:
<img width="75%" src="../touche22-figures/task2-tira-example-software.png" alt="Software configuration in TIRA.">
<p>As you "RUN" the software, you will not be able to connect to the virtual machine (takes at least 10 minutes). Once finished, click on "INSPECT" to check on the run and click on "EVALUATE" for a syntax check (give it a few minutes, then check back on the page). Your run will later be reviewed and evaluated by the organizers. If uncertain on something, ask in the <a href="https://www.tira.io/c/touche/9">forum</a> or send a mail/message to <a href="#task-committee">Johannes</a>.</p>
<img width="75%" src="../touche22-figures/task2-tira-example-evaluation.png" alt="A run in TIRA.">
<p>Create a separate "Software" entry in the TIRA web interface for each of your approaches. NOTE: By submitting your software you retain full copyrights. You agree to grant us usage rights for evaluation of the corresponding data generated by your software. We agree not to share your software with a third party or use it for any purpose other than research.</p>
-->

<h2 id="results">Results</h2>

<table class="uk-table uk-table-divider uk-table-small uk-table-hover">
  <caption>Results</caption>
<thead>
<tr><th>Team</th><th>Tag</th><th colspan="3">Precision@10</th></tr>
<tr><th></th><th></th><th>On topic</th><th>Argumentative</th><th>On stance</th></tr>
</thead>
<tbody>
<tr><td>Neville Longbottom</td><td>clip_chatgpt_args.raw</td><td>0.785</td><td>0.338</td><td>0.222</td></tr>
<tr><td>Neville Longbottom</td><td>clip_chatgpt_args.debater</td><td>0.684</td><td>0.341</td><td>0.216</td></tr>
<tr><td>Hikaru Sulu</td><td>Keywords</td><td>0.664</td><td>0.350</td><td>0.185</td></tr>
<tr><td>Hikaru Sulu</td><td>Topic-title</td><td>0.770</td><td>0.335</td><td>0.179</td></tr>
<tr><td>Neville Longbottom</td><td>bm25_chatgpt_args.raw</td><td>0.572</td><td>0.274</td><td>0.166</td></tr>
<tr><td>Jean-Luc Picard</td><td>No stance detection (0)</td><td>0.523</td><td>0.292</td><td>0.162</td></tr>
<tr><td>Neville Longbottom</td><td>bm25_chatgpt_args.diff</td><td>0.442</td><td>0.240</td><td>0.150</td></tr>
<tr><td>Jean-Luc Picard</td><td>Text and image text stance detection (3)</td><td>0.502</td><td>0.272</td><td>0.144</td></tr>
<tr><td>Jean-Luc Picard</td><td>BM25 Baseline (-1)</td><td>0.536</td><td>0.268</td><td>0.141</td></tr>
<tr><td>Jean-Luc Picard</td><td>Text stance detection (1)</td><td>0.498</td><td>0.262</td><td>0.136</td></tr>
<tr><td>Neville Longbottom</td><td>bm25_chatgpt_args.debater</td><td>0.416</td><td>0.201</td><td>0.128</td></tr>
<tr><td>Minsc</td><td>Aramis</td><td>0.376</td><td>0.194</td><td>0.102</td></tr>
<tr><td>Jean-Luc Picard</td><td>Image text stance detection (2)</td><td>0.369</td><td>0.196</td><td>0.098</td></tr>
</tbody>
</table>


<h2><a id="related-work"></a>Related Work</h2>
<ul>
<li>Johannes Kiesel, Nico Reichenbach, Benno Stein, and Martin Potthast. <a href="https://webis.de/publications.html#kiesel_2021e">Image Retrieval for Arguments Using Stance-Aware Query Expansion.</a> 8th Workshop on Argument Mining (ArgMining 2021) at EMNLP, November 2021.</li>
<li>Dimitar Dimitrov, Bishr Bin Ali, Shaden Shaar, Firoj Alam, Fabrizio Silvestri, Hamed Firooz, Preslav Nakov, and Giovanni Da San Martino. <a href="https://aclanthology.org/2021.semeval-1.7/">SemEval-2021 Task 6: Detection of Persuasion Techniques in Texts and Images</a>. 15th International Workshop on Semantic Evaluation (SemEval 2021), August 2021.</li>
<li>Keiji Yanai. <a href="https://dl.acm.org/doi/10.1145/1242572.1242816">Image collector III: a web image-gathering system with bag-of-keypoints.</a> 16th International Conference on World Wide Web (WWW 2007), May 2007.</li>
</ul>

<h2 id="task-committee">Task Committee</h2>
<div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
{% include people-cards/kiesel.html gender="male" %}
{% include people-cards/froebe.html gender="male" %}
{% include people-cards/potthast.html gender="male" %}
{% include people-cards/stein.html gender="male" %}
</div>
<div class="uk-container uk-padding-large uk-padding-remove-bottom">
{% include organizations/clef-organizations-section.html year=2023 %}
</div>
</div>
</div>
</main>
