---
layout: default
nav_active: events
title: Touché at CLEF 2023
description: Touché at CLEF 2023
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">Touché</a></li>
<li><a href="../../events.html">Events</a></li>
<li class="uk-disabled"><a href="#">Touché at CLEF 2023</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
    <div class="uk-container">
        <div class="uk-container">
            <h1 class="uk-margin-remove-top">Touché at CLEF 2023</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-synopsis">Synopsis/Call</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-tasks">Shared Tasks</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-important-dates">Important Dates</a></li>
<!--                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-keynotes">Keynote</a></li> -->
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-program">Program</a></li> 
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-organizing-committee">Organizing Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">
            <h2><a id="index-synopsis"></a>Synopsis/Call</h2>
            <p>Making informed decisions and forming opinions on a matter often involves not only weighing pro and con arguments towards different options, but also considering cause-effect relationships for one's actions. Our goal is to foster and support the development of technologies for argument and causal retrieval and analysis. We invite you to participate in the 4th Touché lab on <strong>argument and causal retrieval</strong> at <a href="http://clef2023.clef-initiative.eu/">CLEF 2023</a> featuring four tasks. Read about Touché tasks [<a href="https://webis.de/publications.html?q=overview+of+touche">Touché papers</a>]. <!--[<a href="{{ '/publications.html#bondarenko_2022a' | relative_url }}">overview paper</a>]--></p>

            <h2 id="index-tasks" class="uk-margin-small-top">Shared Tasks</h2>
            <ul>
                <li><a href="{{ '/shared-tasks.html#argument-retrieval-for-controversial-questions' | relative_url }}">Argument Retrieval for Controversial Questions</a></li>
                <li><a href="{{ '/shared-tasks.html#evidence-retrieval-for-causal-questions' | relative_url }}">Evidence Retrieval for Causal Questions</a></li>
                <li><a href="{{ '/shared-tasks.html#image-retrieval-for-arguments' | relative_url }}">Image Retrieval for Arguments</a></li>
                <li><a href="{{ '/shared-tasks.html#multilingual-stance-classification' | relative_url }}">Intra-Multilingual Multi-Target Stance Classification</a></li>
            </ul>
            
            <p><strong>Register for the CLEF 2023 conference and Touché workshop:</strong></p>
            <a class="uk-button uk-button-primary" href="https://clef2023.clef-initiative.eu/index.php?page=Pages/conferenceRegistration.html">Registration Information</a>           
            <!--<a class="uk-button uk-button-primary" href="https://clef2023-labs-registration.dei.unipd.it/">Register now</a>-->   

            <h2 id="index-important-dates" class="uk-margin-large-top">Important Dates</h2>
            <ul>
                <li><s><strong>November, 2022:</strong> Registration open [<a href="https://clef2023-labs-registration.dei.unipd.it/">register</a>]</s>.</li>
                <li><s><strong>December, 31 2022:</strong> Query submission for image retrieval task [<a href="https://www.tira.io/task/touche-task-3">submit your query</a>]</s>.</li>
                <li><s><strong>April, 28 2023:</strong> Registration closes</s>.</li>
                <li><s><strong>May, <s>2</s> 10 2023:</strong> Approaches submission deadline (extended) <strong>Note:</strong> submission deadline for <strong>Task 4</strong> is <strong>May, 12</strong></s>.</li>
                <li><s><strong>June, 5 2023:</strong> Participant paper submission [<a href="../touche23-data/touche-paper-template.zip">template</a>] [<a href="../touche23-data/instructions.txt">short instructions</a>] [<a href="https://clef2023.clef-initiative.eu/resources/wn_instructions.pdf">full instructions</a>] [<a href="https://www.easychair.org/my/conference?conf=clef2023">submit</a>]</s>.</li>
                <li><s><strong>Mid June, 2023:</strong> Evaluation results out</s>.</li>
                <li><s><strong>June, 23 2023:</strong> Peer review notification</s>.</li>
                <li><s><strong>July, 7 2023:</strong> Camera-ready participant papers submission. [<a href="../touche23-data/touche-paper-template.zip">template</a>] [<a href="../touche23-data/instructions.txt">short instructions</a>] [<a href="https://clef2023.clef-initiative.eu/resources/wn_instructions.pdf">full instructions</a>] [<a href="https://www.easychair.org/my/conference?conf=clef2023">submit</a>]</s>.</li>
                <li><strong>September 18-21, 2023:</strong> CLEF Conference and Touché Workshop.</li>
                <li><strong>September 21, 2023:</strong> Touché Workshop on Argument and Causal Retrieval.</li>
            </ul>
            <p>All deadlines are 23:59 <a href="https://en.wikipedia.org/wiki/Central_European_Summer_Time">CEST</a>.</p>

<!--            <h2 id="index-keynotes">Keynote</h2> 
            <div class="uk-grid uk-child-width-1-2@l" data-uk-grid>
                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-speaker-image">
                            <img src="{{ '/clef22/touche22-figures/galassi.jpg' | relative_url }}" alt="Andrea Galassi">
                        </div>
                        <div class="keynote-meta">
                            <div class="keynote-title">Ranking Arguments and Argumentative Documents: Case Studies and Challenges</div><br>
                            <div class="keynote-speaker"><a href="https://site.unibo.it/nlp/en/people/andrea-galassi" target="_blank">Andrea Galassi</a></div>
                            <div class="keynote-affiliation">Università di Bologna</div>
                        </div>
                    </header>
                    <div class="keynote-body">
                        <p>The ability to properly rank arguments according to specific principles may play an important role in Argument Retrieval tasks. However the clear definition of such criteria that can be used to rank retrieved arguments, or the documents they are part of, is a challenging task. Indeed, these principles are typically specific to the domain of application, and even experts may disagree on their definitions. For example, the concept of "similarity" between arguments could be subject to different interpretations and may change a lot according to the context and the final purpose. In this talk, we discuss case studies in different domains (news, legal documents, medical literature), analyzing characteristics, potential applications, and the challenges that arise.</p>
                        <footer>
                            <div class="keynote-bio" id="keynote-bio-1">
                                <p>Andrea obtained his PhD from the University of Bologna in 2021 with a dissertation on the integration of deep neural networks and symbolic knowledge applied to argument mining. He spent research periods abroad at Stanford and Imperial College London. He is an expert in deep learning architectures for natural language processing. In the past, he covered the role of Adjunct Professor at University of Bologna, he worked within the Humane-AI-Net ICT-48 European project on human-centric ethical AI, and contributed to the Italian FISR Project "AMICA: Argument Mining In Covid-19 Articles". He is now working as a Post-doc Research Fellow within the StairwAI ICT-49 project on the development of horizontal matchmaking services that allow users to retrieve relevant assets based on their needs.</p>
                                <a href="#" class="read-more" data-uk-toggle="target: #keynote-bio-1; cls: expanded">Read more&hellip;</a>
                                <a href="#" class="read-less" data-uk-toggle="target: #keynote-bio-1; cls: expanded">Read less&hellip;</a>
                            </div>
                        </footer>
                    </div>
                </article>
            </div>
-->
            <h2 id="index-program">Program</h2>
            <p><!-- Touché is part of the <a href="http://clef2023.clef-initiative.eu/index.php?page=Pages/programme.html">CLEF 2023 conference program</a>.--> All session times below are given in <a href="https://time.is/Thessaloniki">Thessaloniki local time (EEST)</a>.</p>
            
            <table class="uk-table uk-table-divider uk-table-small uk-table-striped">
                <thead>
                </thead>
                <tfoot>
                <tr><td colspan="2"><span style="display:none">.</span></td></tr>
                </tfoot>
                <tbody>
                <tr><td colspan="2"><b>Thursday, September 21. Touché: Argument and Causal Retrieval Workshop</b> <!--[<a class="schedule_links" target="_blank" href="{{ '/downloads/publications/slides/bondarenko_2022f.pdf' | relative_url }}">slides</a>]--> </td></tr>
                
                <tr><td><b>11:30-11:35</b></td><td><b>Welcome</b></td></tr>
                <tr><td><b> </b></td><td><b>Session 1: Argument Retrieval for Controversial Questions</b></td></tr>
                
                <tr><td><b>11:35-11:45</b></td><td>Overview of Task 1 on Argument Retrieval for Controversial Questions (Alexander Bondarenko) <a href="https://webis.de/publications.html#bondarenko_2023b">[paper]</a> </td></tr>
                <tr><td><b>11:45-12:00</b></td><td>Argument Quality Prediction for Ranking Documents (Moritz Plenz) <a href="https://webis.de/publications.html#plenz_2023">[paper]</a> <!-- <a class="schedule_links" target="_blank" href="{{ '/downloads/publications/slides/moreira_2022.pdf' | relative_url }}">[slides]</a> --></td></tr>
                
                <tr><td><b> </b></td><td><b>Session 2: Evidence Retrieval for Causal Questions</b></td></tr>
                
                <tr><td><b>12:00-12:10</b></td><td>Overview of Task 2 on Evidence Retrieval for Causal Questions (Alexander Bondarenko) <a href="https://webis.de/publications.html#bondarenko_2023b">[paper]</a> </td></tr>
                <tr><td><b>12:10-12:20</b></td><td>Evidence Retrieval for Causal Questions Using Query Expansion and Reranking <!--<a href="http://ceur-ws.org/Vol-3180/paper-260.pdf">[paper] </a> <a class="schedule_links" target="_blank" href="{{ '/downloads/publications/slides/reimer_2022.pdf' | relative_url }}">[slides]</a> --> </td></tr>
                
                <tr><td><b> </b></td><td><b>Session 3: Image Retrieval for Arguments</b></td></tr>
                
                <tr><td><b>12:20-12:30</b></td><td>Overview of Task 3 on Image Retrieval for Arguments (Johannes Kiesel) <a href="https://webis.de/publications.html#bondarenko_2023b">[paper]</a></td></tr>
                <tr><td><b>12:30-12:45</b></td><td>Matching Images and Keywords with CLIP <!-- <a href="http://ceur-ws.org/Vol-3180/paper-252.pdf">[paper]</a>  --> </td></tr>
                <tr><td><b>12:45-13:00</b></td><td>Comparing Image Generation, Stance Detection and Feature Matching for Image Retrieval for Arguments <!-- <a href="http://ceur-ws.org/Vol-3180/paper-253.pdf">[paper]</a> --> </td></tr>
                
                <tr><td><b>13:00-14:00</b></td><td><b>Lunch</b></td></tr>
                
                <tr><td><b> </b></td><td><b>Session 4: Multilingual Multi-Target Stance Classification</b></td></tr>
                
                <tr><td><b>14:00-14:10</b></td><td>Overview of Task 4 on Multilingual Multi-Target Stance Classification (Valentin Barriere) <a href="https://webis.de/publications.html#bondarenko_2023b">[paper]</a></td></tr>
                <tr><td><b>14:10-14:25</b></td><td>Intra-Multilingual Multi-Target Stance Classification using BERT (Karla Schaefer) <!-- <a href="http://ceur-ws.org/Vol-3180/paper-252.pdf">[paper]</a> --> </td></tr>
                
                <tr><td><b></b></td><td><b>Special Session</b></td></tr>
                
                <tr><td><b>14:25-14:45</b></td><td><b>Best of Touché 2022:</b> Neural Image Retrieval for Argumentation (Tobias Schreieder and Jan Braker)</td></tr>
                
                <tr><td><b>14:45-15:00</b></td><td><b>Closing:</b> remarks, plenary discussion, future plans</td></tr>
                
                <tr><td><b></b></td><td><b></b></td></tr>
                <tr><td><b></b></td><td>Poster session takes place on <b>September 18</b> for all CLEF participants</td></tr>
                </tbody>
            </table>

            <h2 id="index-organizing-committee">Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/bondarenko.html %}
                {% include people-cards/froebe.html %}
                {% include people-cards/kiesel.html %}
                {% include people-cards/schlatt.html %}
                {% include people-cards/reimer.html %}
                {% include people-cards/barriere.html %}
                {% include people-cards/hemamou.html %}
                {% include people-cards/luck.html %}
                {% include people-cards/ravenet.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/potthast.html %}
                {% include people-cards/hagen.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2023 %}
            </div>
        </div>
    </div>
</main>
