---
layout: default
nav_active: events
title: Touché at CLEF 2022
description: Learn about tasks and organization of Touché at CLEF 2022
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">Touché</a></li>
<li><a href="../../events.html">Events</a></li>
<li class="uk-disabled"><a href="#">Touché at CLEF 2022</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
    <div class="uk-container"">
        <div class="uk-container">
            <h1 class="uk-margin-remove-top">Touché at CLEF 2022</h1>
            <ul class="uk-list">
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-synopsis">Synopsis/Call</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-tasks">Shared Tasks</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-important-dates">Important Dates</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-keynotes">Keynote</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-program">Program</a></li>
                <li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-organizing-committee">Organizing Committee</a></li>
            </ul>
        </div>

        <div class="uk-container uk-margin-medium">
            <h2><a id="index-synopsis"></a>Synopsis/Call</h2>
            <p>Decision making processes, be it at the societal or at the personal level, often come to a point where one side challenges the other with a why-question, which is a prompt to justify some stance based on arguments. Since technologies for argument mining are maturing at a rapid pace, also ad-hoc argument retrieval becomes a feasible task in reach. We invite you to participate in the third Touché lab on <strong>argument retrieval</strong> at <a href="http://clef2022.clef-initiative.eu/">CLEF 2022</a> featuring three tasks. [<a href="{{ '/publications.html#bondarenko_2022a' | relative_url }}">overview paper</a>]</p>

            <h2 id="index-tasks" class="uk-margin-small-top">Shared Tasks</h2>
            <ul>
                <li><a href="{{ '/shared-tasks.html#argument-retrieval-for-controversial-questions' | relative_url }}">Argument Retrieval for Controversial Questions</a></li>
                <li><a href="{{ '/shared-tasks.html#argument-retrieval-for-comparative-questions' | relative_url }}">Argument Retrieval for Comparative Questions</a></li>
                <li><a href="{{ '/shared-tasks.html#image-retrieval-for-arguments' | relative_url }}">Image Retrieval for Arguments</a></li>
            </ul>
            
            <p><strong>Register for the CLEF 2022 conference and Touché workshop:</strong></p>            
            <a class="uk-button uk-button-primary" href="https://clef2022.clef-initiative.eu/index.php?page=Pages/conferenceRegistration.html">Registration information</a>

            <h2 id="index-important-dates" class="uk-margin-large-top">Important Dates</h2>
            <ul>
                <li><s><strong>November 15, 2021:</strong> Registration opens [<a href="https://clef2022-labs-registration.dei.unipd.it/">register</a>]</s>.</li>
                <li><s><strong>April 22, 2022:</strong> Registration closes</s>.</li>
                <li><s><strong>May 2, 2022:</strong> Approaches submission deadline</s>.</li>
                <li><s><strong>May 27, 2022:</strong> Participant paper submission</s>. <!--[<a href="./data/touche-paper-template.zip">template</a>] [<a href="./instructions.txt">instructions</a>] [<a href="https://clef2022.clef-initiative.eu/index.php?page=Pages/instructions_for_authors.html">CLEF instructions</a>] [<a href="https://easychair.org/conferences/?conf=clef2022">submit</a>].--></li>
                <li><s><strong>June 13, 2022:</strong> Peer review notification</s>.</li>
                <li><s><strong>Mid June, 2022:</strong> Evaluation results out</s>.</li>
                <li><s><strong>July 1, 2022:</strong> Camera-ready participant papers submission [<a href="./data/touche-paper-template.zip">template</a>] [<a href="./instructions.txt">instructions</a>] [<a href="https://clef2022.clef-initiative.eu/index.php?page=Pages/instructions_for_authors.html">CLEF instructions</a>] [<a href="https://easychair.org/conferences/?conf=clef2022">submit</a>]</s>.</li>
                <li><s><strong>September 5-8, 2022:</strong> CLEF Conference [<a href="https://clef2022.clef-initiative.eu/index.php?page=Pages/conferenceRegistration.html">register</a>]</s>.</li>
                <li><s><strong>September 8, 2022:</strong> Touché Workshop on Argument Retrieval</s>.<!-- [<a href="{{ '/events/touche-21/program.html' | relative_url }}">program</a>].--></li>
            </ul>
            <p>All deadlines are 23:59 <a href="https://en.wikipedia.org/wiki/Central_European_Summer_Time">CEST</a>.</p>

            <h2 id="index-keynotes">Keynote</h2> 
            <div class="uk-grid uk-child-width-1-2@l" data-uk-grid>
                <article class="keynote">
                    <header class="keynote-header">
                        <div class="keynote-speaker-image">
                            <img src="{{ '/clef22/touche22-figures/galassi.jpg' | relative_url }}" alt="Andrea Galassi">
                        </div>
                        <div class="keynote-meta">
                            <div class="keynote-title">Ranking Arguments and Argumentative Documents: Case Studies and Challenges</div><br>
                            <div class="keynote-speaker"><a href="https://site.unibo.it/nlp/en/people/andrea-galassi" target="_blank">Andrea Galassi</a></div>
                            <div class="keynote-affiliation">Università di Bologna</div>
                        </div>
                    </header>
                    <div class="keynote-body">
                        <p>The ability to properly rank arguments according to specific principles may play an important role in Argument Retrieval tasks. However the clear definition of such criteria that can be used to rank retrieved arguments, or the documents they are part of, is a challenging task. Indeed, these principles are typically specific to the domain of application, and even experts may disagree on their definitions. For example, the concept of "similarity" between arguments could be subject to different interpretations and may change a lot according to the context and the final purpose. In this talk, we discuss case studies in different domains (news, legal documents, medical literature), analyzing characteristics, potential applications, and the challenges that arise.</p>
                        <footer>
                            <div class="keynote-bio" id="keynote-bio-1">
                                <p>Andrea obtained his PhD from the University of Bologna in 2021 with a dissertation on the integration of deep neural networks and symbolic knowledge applied to argument mining. He spent research periods abroad at Stanford and Imperial College London. He is an expert in deep learning architectures for natural language processing. In the past, he covered the role of Adjunct Professor at University of Bologna, he worked within the Humane-AI-Net ICT-48 European project on human-centric ethical AI, and contributed to the Italian FISR Project "AMICA: Argument Mining In Covid-19 Articles". He is now working as a Post-doc Research Fellow within the StairwAI ICT-49 project on the development of horizontal matchmaking services that allow users to retrieve relevant assets based on their needs.</p>
                                <a href="#" class="read-more" data-uk-toggle="target: #keynote-bio-1; cls: expanded">Read more&hellip;</a>
                                <a href="#" class="read-less" data-uk-toggle="target: #keynote-bio-1; cls: expanded">Read less&hellip;</a>
                            </div>
                        </footer>
                    </div>
                </article>
            </div>

            <h2 id="index-program">Program</h2>
            <p>Touché was part of the <a href="http://clef2022.clef-initiative.eu/index.php?page=Pages/programme.html">CLEF 2022 conference program</a>. All session times are given in <a href="https://time.is/Bologna">Bologna local time (CEST)</a>.</p>
            <!-- <p>The schedule below is tentative; it may be adjusted once we have participants' confirmations. Please note that all session times below are given in <a href="https://time.is/Bologna">Bologna local time (CEST)</a>.</p> -->
            <table class="uk-table uk-table-divider uk-table-small uk-table-striped">
                <thead>
                </thead>
                <tfoot>
                <tr><td colspan="2"><span style="display:none">.</span></td></tr>
                </tfoot>
                <tbody>
                <tr><td colspan="2"><b>Thursday, September 8.</b></td></tr>
                <tr>
                    <td></td>
                    <td><b>Touché: Argument Retrieval Workshop was held online </b> [<a class="schedule_links" target="_blank" href="https://downloads.webis.de/touche/publications/slides/bondarenko_2022f.pdf">slides</a>]</td>
                </tr>
                <tr><td><b>09:00-09:05</b></td><td><b>Welcome</b></td></tr>
                <tr><td><b>09:05-09:45</b></td><td><b>Session 1: Argument Retrieval for Controversial Questions</b></td></tr>
                
                <tr><td><b>09:05-09:15</b></td><td>Overview of Task 1 on Argument Retrieval for Controversial Questions (Timon Gurke) <a href="http://ceur-ws.org/Vol-3180/paper-247.pdf">[paper]</a> </td></tr>
                <tr><td><b>09:15-09:25</b></td><td>Team Bruce Banner at Touché 2022: Argument retrieval for controversial questions (Bernardo Moreira) <a href="http://ceur-ws.org/Vol-3180/paper-257.pdf">[paper]</a> <a class="schedule_links" target="_blank" href="https://downloads.webis.de/touche/publications/slides/moreira_2022.pdf">[slides]</a></td></tr>
                <tr><td><b>09:25-09:35</b></td><td>The Pearl Retriever: Two-Stage Retrieval for Pairs of Argumentative Sentences (Sebastian Schmidt) <a href="http://ceur-ws.org/Vol-3180/paper-262.pdf">[paper]</a> <a class="schedule_links" target="_blank" href="https://downloads.webis.de/touche/publications/slides/schmidt_2022.pdf">[slides]</a></td></tr>
                <tr><td><b>09:35-09:45</b></td><td>Team INTSEG on Argument Retrieval for Controversial Questions (Paria Tahan) <a href="http://ceur-ws.org/Vol-3180/paper-249.pdf">[paper]</a> </td></tr>
                <tr><td><b>09:45-10:00</b></td><td><b>Best of Touché 2021:</b> Query Expansion, Argument Mining and Document Scoring for an Efficient Question Answering System (Alaa Alhamzeh)</td></tr>
                
                <tr><td><b>10:00-10:30</b></td><td><b>Keynote:</b> <a href="{{ '/clef22/touche22-web/index.html#index-keynotes' | relative_url }}">Ranking Arguments and Argumentative Documents: Case Studies and Challenges</a> (Andrea Galassi) <a class="schedule_links" target="_blank" href="https://downloads.webis.de/touche/publications/slides/galassi_2022.pdf">[slides]</a></td></tr>
                <tr><td><b>10:30-11:00</b></td><td>Coffee break</td></tr>
                <tr><td><b>11:00-11:40</b></td><td><b>Session 2: Argument Retrieval for Comparative Questions</b></td></tr>
                
                <tr><td><b>11:00-11:10</b></td><td>Overview of Task 2 on Argument Retrieval for Comparative Questions (Alexander Bondarenko) <a href="http://ceur-ws.org/Vol-3180/paper-247.pdf">[paper]</a> </td></tr>
                <tr><td><b>11:10-11:20</b></td><td>Grimjack at Touché 2022: Axiomatic re-ranking and query reformulation (Jan Heinrich Reimer) <a href="http://ceur-ws.org/Vol-3180/paper-260.pdf">[paper] </a> <a class="schedule_links" target="_blank" href="https://downloads.webis.de/touche/publications/slides/reimer_2022.pdf">[slides]</a></td></tr>
                <tr><td><b>11:20-11:30</b></td><td>LeviRank: Limited query expansion with voting integration for document retrieval and Ranking (Ashish Rana) <a href="http://ceur-ws.org/Vol-3180/paper-259.pdf">[paper]</a> <a class="schedule_links" target="_blank" href="https://downloads.webis.de/touche/publications/slides/rana_2022.pdf">[slides]</a></td></tr>
                <tr><td><b>11:30-11:35</b></td><td>Stacked model based argument extraction and stance detection using embedded LSTM model (Pavani Rajula) <a href="http://ceur-ws.org/Vol-3180/paper-258.pdf">[paper]</a> <a class="schedule_links" target="_blank" href="https://downloads.webis.de/touche/publications/slides/rajula_2022.pdf">[slides]</a></td></tr>
                <tr><td><b>11:35-11:40</b></td><td>Retrieving comparative arguments using deep language models (Viktoriia Chekalina) <a href="http://ceur-ws.org/Vol-3180/paper-255.pdf">[paper]</a> <a class="schedule_links" target="_blank" href="https://downloads.webis.de/touche/publications/slides/chekalina_2022.pdf">[slides]</a></td></tr>
                
                <tr><td><b>11:40-12:10</b></td><td><b>Session 3: Image Retrieval for Arguments</b></td></tr>
                
                <tr><td><b>11:40-11:50</b></td><td>Overview of Task 3 on Image Retrieval for Arguments (Johannes Kiesel) <a href="http://ceur-ws.org/Vol-3180/paper-247.pdf">[paper] </a></td></tr>
                <tr><td><b>11:50-12:00</b></td><td>Aramis at Touché 2022: Argument detection in pictures using machine learning (Jan Braker) <a href="http://ceur-ws.org/Vol-3180/paper-252.pdf">[paper]</a> </td></tr>
                <tr><td><b>12:00-12:10</b></td><td>Boromir at Touché 2022: Combining natural language processing and machine learning techniques for image retrieval for arguments (Miriam Louise Carnot) <a href="http://ceur-ws.org/Vol-3180/paper-253.pdf">[paper]</a> </td></tr>
                
                <tr><td><b>12:20-12:30</b></td><td><b>Closing:</b> remarks, plenary discussion, future plans</td></tr>
                </tbody>
            </table>


            <h2 id="index-organizing-committee">Organizing Committee</h2>
            <div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
                {% include people-cards/bondarenko.html %}
                {% include people-cards/froebe.html %}
                {% include people-cards/kiesel.html %}
                {% include people-cards/syed.html %}
                {% include people-cards/gurcke.html %}
                {% include people-cards/beloucif.html %}
                {% include people-cards/panchenko.html %}
                {% include people-cards/biemann.html %}
                {% include people-cards/stein.html %}
                {% include people-cards/wachsmuth.html %}
                {% include people-cards/potthast.html %}
                {% include people-cards/hagen.html %}
            </div>
            <div class="uk-container uk-padding-large uk-padding-remove-bottom">
                {% include organizations/clef-organizations-section.html year=2022 %}
            </div>
        </div>
    </div>
</main>
