---
layout: default
nav_active: shared-tasks
title: Touché at CLEF 2025 - Ideology and Power Identification in Parliamentary Debates
description: Touché at CLEF 2025 - Ideology and Power Identification in Parliamentary Debates
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">Touché</a></li>
<li><a href="../../shared-tasks.html">Shared Tasks</a></li>
<li class="uk-disabled"><a href="#">Ideology and Power Identification in Parliamentary Debates 2025</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
<div class="uk-container">
<div class="uk-container uk-margin-small">
<h1 class="uk-margin-remove-top uk-margin-remove-bottom">Ideology and Power Identification in Parliamentary Debates 2025</h1>
<ul class="uk-list">
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#important-dates">Important Dates</a></li>
<!--
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task">Task</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#submission">Submission</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#related-work">Related Work</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#tira-quickstart">TIRA Quickstart</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#results">Results</a></li>
-->
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
</ul>
</div>

<div class="uk-container uk-margin-medium">

<h2 id="synopsis">Synopsis</h2>
<ul>
<li>Sub-Task 1: Given a parliamentary speech in one of several languages, identify the ideology of the speaker's party.</li>
<li>Sub-Task 2: Given a parliamentary speech in one of several languages, identify whether the speaker's party is currently governing or in opposition.</li>
<li>Communication: [mailing lists: <a href="https://groups.google.com/g/ideology-and-power-in-parliamentary-speeches">task</a>, <a href="https://groups.google.com/g/touche-lab">Touché</a>, <a href="mailto:touche@webis.de">organizers</a>] </li>
<!--
<li>Training data: [<a href="https://zenodo.org/doi/10.5281/zenodo.10450640">download</a>]</li>
<li>Test data: [<a href="https://zenodo.org/doi/10.5281/zenodo.11061649">download</a>]</li>
<li>Submission: [<a href="https://github.com/coltekin/ideology-power-st-baseline">baseline</a>] [<a href="https://github.com/coltekin/ideology-power-st-baseline/tree/main/evaluation">evaluator</a>] [<a href="https://www.tira.io/c/touche/">forum</a>] [<a href="https://www.tira.io/task-overview/ideology-and-power-identification-in-parliamentary-debates-2024">submit</a>]</li>
-->
</ul>

<a class="uk-button uk-button-primary" href="https://clef2025-labs-registration.dei.unipd.it/">Register for participation</a>
<a href="https://groups.google.com/g/touche-lab" class="uk-button uk-button-primary">Join the Touché mailing list</a>


<h2 id="important-dates" class="uk-margin-large-top">Important Dates</h2>
<p>Subscribe to the <a href="https://groups.google.com/g/touche-lab">Touché mailing list</a> to receive notifications.</p>
<ul>
<li><strong>Nov. 2024:</strong> CLEF Registration opened [<a href="https://clef2025-labs-registration.dei.unipd.it/">register</a>]</li>
<li><strong>April-May 2025:</strong> Approaches submission deadline.</li>
<li><strong>May 2025:</strong> Participant paper submission.</li>
<li><strong>June 2025:</strong> Peer review notification.</li>
<li><strong>July 2025:</strong> Camera-ready participant papers submission.</li>
<li><strong>Sep. 2025:</strong> <a href="http://clef2025.clef-initiative.eu/index.php">CLEF Conference</a> in Madrid and Touché Workshop.</li>
</ul>
<p>All deadlines are 23:59 <a href="https://time.is/CEST">CEST</a> (UTC+2).</p>

<!--
<h2 id="task">Task</h2>
Debates in national parliaments do not only affect
the fundamental aspects of citizens' life,
but often a broader area, or even the whole world.
As a form of political debate, however, parliamentary speeches are
often indirect and present a number of challenges to computational analyses.
In this task, we focus on identifying two variables associated
with speakers in a parliamentary debate:
their political ideology and whether they belong to 
a governing party or a party in opposition.
Both subtasks are formulated as binary classification tasks.

<h2 id="data">Data</h2>

The data for this task comes
from <a href="https://www.clarin.eu/parlamint">ParlaMint</a>,
a multilingual comparable corpora of parliamentary debates.
The data is sampled from the ParlaMint in a way to reduce the potential confounding variables 
(e.g., speaker identity). 
Please join the <a href="https://groups.google.com/group/ideology-and-power-in-parliamentary-speeches/subscribe"> task mailing list</a> to stay up-to-date and report problems.

The data is provided as tab-separated text files.  The following shows a toy example:

<pre>
<span class="column">id</span> <span class="column">speaker</span> <span class="column">sex</span> <span class="column">text</span> <span class="column">text_en</span> <span class="column">label</span> 
<span class="column">gb01</span> <span class="column">spk1</span>   <span class="column">F</span>   <span class="column">First text.</span> <span class="column">First text in English.</span> <span class="column">0</span>
<span class="column">gb02</span> <span class="column">spk2</span>   <span class="column">M</span>   <span class="column">Second text.</span> <span class="column">Second text in English.</span> <span class="column">1</span>
<span class="column">gb03</span> <span class="column">spk3</span>   <span class="column">M</span>   <span class="column">Third text.</span> <span class="column">Third text in English.</span> <span class="column">0</span>
<span class="column">gb04</span> <span class="column">spk4</span>   <span class="column">F</span>   <span class="column">Fourth text.</span> <span class="column">Fourth text in English.</span> <span class="column">1</span>
<span class="column">gb06</span> <span class="column">spk5</span>   <span class="column">M</span>   <span class="column">Fifth text.</span> <span class="column">Fifth text in English.</span> <span class="column">0</span>
</pre>

<ul>
	<li> <b>id</b> is a unique (arbitrary) ID for each text.
	<li> <b>speaker</b> is a unique (arbitrary) ID for each speaker.
          There may be multiple speeches from the same speaker.
    <li> <b>sex</b> is the (binary/biological) sex of the speaker.
        The values in this field can be <b>F</b>emale, <b>M</b>emale,
        and <b>U</b>nspecified/Unknown.
    <li> <b>text</b> is the transcribed text of the parliamentary speech.
        Real examples may include line breaks, and other special
        sequences escaped or quoted.
    <li> <b>text_en</b> is the automatic translation of the text to English.
        This field may be empty - obviously for speeches in English,
        but the translation may also be missing for a small number of 
        non-English speeches.
    <li> <b>label</b> is the binary/numeric label. For political
        orientation, <b>0</b> is <b>left</b> and <b>1</b> is right.
        For power identification <b>1</b> indicates <b>opposition</b>
        and <b>0</b> indicates <b>coalition</b> (or governing party).
</ul>

Participants are not required to use the first four fields,
but may want to use them for improving the predictions (e.g., in a
joint/multi-task learning model, or to explain away the effect of
speaker style for better generalization).
Similarly the field <b>text_en</b> is provided for convenience.
It may help building quick multilingual classifiers,
or help understanding and analyzing data in languages
participants do not speak.
The test files will also include exact same fields except <b>label</b>.

A small trial sample is provided for both
<a href="../touche24-data/orientation-gb-trial.tsv">political orientation</a>
and 
<a href="../touche24-data/power-gb-trial.tsv">power</a> identification.

We provide training data for the following national or regional parliaments: 
<ul>
    <li>Austria (at) </li>
    <li>Bosnia and Herzegovina (ba) </li>
    <li>Belgium (be) </li>
    <li>Bulgaria (bg) </li>
    <li>Czechia (cz) </li>
    <li>Denmark (dk) </li>
    <li>Estonia (ee) </li>
    <li>Spain (es) </li>
    <li>Catalonia (es-ct) </li>
    <li>Galicia (es-ga) </li>
    <li>Basque Country (es-pv) [only power] </li>
    <li>Finland (fi) </li>
    <li>France (fr) </li>
    <li>Great Britain (gb) </li>
    <li>Greece (gr) </li>
    <li>Croatia (hr) </li>
    <li>Hungary (hu) </li>
    <li>Iceland (is) [only political orientation] </li>
    <li>Italy (it) </li>
    <li>Latvia (lv) </li>
    <li>The Netherlands (nl) </li>
    <li>Norway (no) [only political orientation] </li>
    <li>Poland (pl) </li>
    <li>Portugal (pt) </li>
    <li>Serbia (rs) </li>
    <li>Sweden (se) [only political orientation] </li>
    <li>Slovenia (si) </li>
    <li>Turkey (tr) </li>
    <li>Ukraine (ua) </li>
</ul>

<h2 id="evaluation">Evaluation</h2>

Both subtasks will use macro-averaged F1-score as the main metric of evaluation.
The submission system will evaluate runs automatically using F1-score,
Precision and Recall.

<h2 id="submission">Submission</h2>

The participants are welcome to participate in any of the task -
parliament combinations. We do not provide a special track for
multilingual models, but participants are encouraged to make use of
cross-lingual approaches for improving their predictions.
The participants are allowed to use any external datasets,
except the source data from ParlaMint.

Submission are now accepted through
<a href="https://www.tira.io/task-overview/ideology-and-power-identification-in-parliamentary-debates-2024">TIRA</a>.
You need to register your team on TIRA (in addition to a registration at CLEF) and pick an alias for your team name (submission is anonymous; you can reveal you true team name after final paper acceptance).
You can submit both predictoins
and dockerized software submisions (for better reproducibility).
Please note that you will not be able to see your results on the test dataset until after the deadline.
However, your will be informed if your submission failed because of a
formatting or software error.

We provide <a href="https://github.com/coltekin/ideology-power-st-baseline">
a simple linear baseline and evaluation script</a>,
which also include a toy example, and examples of how to dockerize your submission.

<p>The predictions should be formatted as simple TSV files with two
columns, id, and the prediction. The prediction files should not
contain a header row. The names of the files should be formatted as
<code>team-task-pcode-runname.tsv</code>.
The <code>task</code> is either 'orientation', or 'power', and the
<code>pcode</code> is the lowercase code of the parliament (e.g., at, or
es-ct). The <code>team</code> and <code>runname</code> can be helpful
for identifying the team and the approach or the run information, but
they are not significant for the evaluation script. You can set them
to arbitrary strings, but they cannot be empty, and they should not
contain a dash (<code>-</code>). All files should be placed in the
same directory/folder without further hierarchy. If you are
participating in only a subset of the tasks and/or parliaments, then
you can submit files only for the combinations that you participate in.
-->

<h2 id="task-committee">Task Committee</h2>
<div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
{% include people-cards/coltekin.html gender="male" %}
{% include people-cards/meden.html gender="female" %}
{% include people-cards/ljubesic.html gender="male" %}
{% include people-cards/erjavec.html gender="male" %}
{% include people-cards/morkevicius.html gender="male" %}
{% include people-cards/kopp.html gender="male" %}
</div>

<div class="uk-container uk-padding-large uk-padding-remove-bottom">
{% include organizations/clef-organizations-section.html year=2025 %}
</div>
</div>
</div>
</main>
