---
layout: default
nav_active: shared-tasks
title: Touché at CLEF 2025 - Image Retrieval for Arguments
description: Touché at CLEF 2025 - Image Retrieval for Arguments
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">Touché</a></li>
<li><a href="../../shared-tasks.html">Shared Tasks</a></li>
<li class="uk-disabled"><a href="#">Image Retrieval/Generation for Arguments 2025</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
<div class="uk-container">
<div class="uk-container uk-margin-small">
<h1 class="uk-margin-remove-top uk-margin-remove-bottom">Image Retrieval/Generation for Arguments 2025</h1>
<ul class="uk-list">
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#important_dates">Important Dates</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>
<!--
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#submission">Submission</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
-->
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
</ul>
</div>

<div class="uk-container uk-margin-medium">

<h2 id="synopsis">Synopsis</h2>
<ul>
<li>Task: Given an argument, find (retrieve or generate) images that help to convey the argument's premise.</li>
<li>Communication: [mailing lists: <a href="https://groups.google.com/g/touche-lab">participants</a>, <a href="mailto:touche@webis.de">organizers</a>] </li>
<li>Data: [<a href="https://doi.org/10.5281/zenodo.14258397">download</a>]</li>
</ul>

<a class="uk-button uk-button-primary" href="https://clef2025-labs-registration.dei.unipd.it/">Register for participation</a>
<a href="https://groups.google.com/g/touche-lab" class="uk-button uk-button-primary">Join the Touché mailing list</a>

<h2 id="important-dates" class="uk-margin-large-top">Important Dates</h2>
<p>Subscribe to the <a href="https://groups.google.com/g/touche-lab">Touché mailing list</a> to receive notifications.</p>
<ul>
<li><strong>Nov. 2024:</strong> CLEF Registration opened [<a href="https://clef2025-labs-registration.dei.unipd.it/">register</a>]</li>
<li><strong>April-May 2025:</strong> Approaches submission deadline.</li>
<li><strong>May 2025:</strong> Participant paper submission.</li>
<li><strong>June 2025:</strong> Peer review notification.</li>
<li><strong>July 2025:</strong> Camera-ready participant papers submission.</li>
<li><strong>Sep. 2025:</strong> <a href="http://clef2025.clef-initiative.eu/index.php">CLEF Conference</a> in Madrid and Touché Workshop.</li>
</ul>
<p>All deadlines are 23:59 <a href="https://time.is/CEST">CEST</a> (UTC+2).</p>

<h2 id="data">Data</h2>
The latest version of the dataset is on <a href="https://doi.org/10.5281/zenodo.14258397">Zenodo</a>. The <code>arguments.xml</code> contains the claims for which images should be found. The dataset also contains the image collection for retrieval. Contact us for access to the image generation API. The current version of the dataset contains about 10% of the claims and images of the final dataset.
<!-- <a href="https://touche24-image-generation.web.webis.de/">Stable Diffusion API</a> -->


<h2 id="task-committee">Task Committee</h2>
<div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
{% include people-cards/heinrich.html gender="male" %}
{% include people-cards/kiesel.html gender="male" %}
{% include people-cards/wolter.html gender="male" %}
{% include people-cards/potthast.html gender="male" %}
{% include people-cards/stein.html gender="male" %}
</div>
<div class="uk-container uk-padding-large uk-padding-remove-bottom">
{% include organizations/clef-organizations-section.html year=2025 %}
</div>
</div>
</div>
</main>
