---
layout: default
nav_active: shared-tasks
title: Touché at CLEF 2025 - Image Retrieval/Generation for Arguments
description: Learn about task, data, and participation for the Image Retrieval/Generation for Arguments shared task, hosted at Touché at CLEF 2025
---
<style>
summary {
  cursor: pointer;
}
summary:hover {
  background-color: whitesmoke;
}

pre {
  white-space: pre-wrap;       /* CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* IE */
  background-color: initial;
}
</style>

<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">Touché</a></li>
<li><a href="../../shared-tasks.html">Shared Tasks</a></li>
<li class="uk-disabled"><a href="#">Image Retrieval/Generation for Arguments 2025</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
<div class="uk-container">
<div class="uk-container uk-margin-small">
<h1 class="uk-margin-remove-top uk-margin-remove-bottom">Image Retrieval/Generation for Arguments 2025</h1>
<ul class="uk-list">
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#synopsis">Synopsis</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#important_dates">Important Dates</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#data">Data</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#submission">Submission</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#evaluation">Evaluation</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#task-committee">Task Committee</a></li>
</ul>
</div>
<h2 id="synopsis">Introduction</h2>

<p>Images are a powerful tool for conveying meaning and enhancing understanding. Arguments, on the other hand, are often perceived as formal and logical. In this shared task, we aim to combine these two areas and explore how images can effectively illustrate key aspects of arguments, enhancing their clarity and impact.</p>


<h2 id="synopsis">Synopsis</h2>
<ul>
<li>Task: Given an argument, find (retrieve or generate) images that help to convey central aspects of the argument's claim.</li>
<li>Communication: [mailing lists: <a href="https://groups.google.com/g/touche-lab">participants</a>, <a href="mailto:touche@webis.de">organizers</a>] </li>
<li>Data: [<a href="https://doi.org/10.5281/zenodo.14258397">download</a>]</li>
<li>Submission: [<a href="image-retrieval-for-arguments/validator.html">validator</a>]</li>
</ul>

<a class="uk-button uk-button-primary" href="https://clef2025-labs-registration.dei.unipd.it/">Register for participation</a>
<a href="https://groups.google.com/g/touche-lab" class="uk-button uk-button-primary"> Join the Touché mailing list</a>

<p>An argument typically consists of a claim supported by one or more premises, which provide evidence for its validity. To maintain brevity in our data creation process, we designed arguments to be concise. Consequently, each argument in our dataset includes only a single claim without supporting premises.</p> 

<figure>
Example image for the argument "Boxing leads to serious injuries":
<br/><br/>
<img style="max-width:400px" src="image-retrieval-for-arguments/images/boxing-example.jpg" alt="Boxer gets a hard hit">
<figcaption>Source: Sweating fighter is punched in the face - gettyimages</figcaption>
</figure>

<p>The final dataset is now relased and can be found <a href="https://doi.org/10.5281/zenodo.14258397">here</a>.</p>


<h2 id="important-dates" class="uk-margin-large-top">Important Dates</h2>
<p>Subscribe to the <a href="https://groups.google.com/g/touche-lab">Touché mailing list</a> to receive notifications.</p>
<ul>
<li><strong>2024-11:</strong> CLEF Registration opened [<a href="https://clef2025-labs-registration.dei.unipd.it/">register</a>]</li>
<li><strong>2025-05-10:</strong> Approaches submission deadline</li>
<li><strong>2025-05-30:</strong> Participant paper submission</li>
<li><strong>2025-06-10:</strong> Peer review notification</li>
<li><strong>2025-07-07:</strong> Camera-ready participant papers submission</li>
<li><strong>2025-09:</strong> <a href="http://clef2025.clef-initiative.eu/index.php">CLEF Conference</a> in Madrid and Touché Workshop</li>
</ul>
<p>All deadlines are 23:59 <a href="https://time.is/CEST">CEST</a> (UTC+2).</p>


<h2 id="data">Data</h2>

<p>The latest version of the dataset is on <a href="https://doi.org/10.5281/zenodo.14258397">Zenodo</a>. The <code>arguments.xml</code> contains the claims for which images should be found. The dataset also contains the image collection for retrieval.  Participants who wish to generate images will also have access to a  <a href="https://touche25-image-generation-info.web.webis.de/">Stable Diffusion API</a>. For access, please leave us a <a href="mailto:maximilian.heinrich@uni-weimar.de">message</a>.</p>
<!-- <a href="https://touche24-image-generation.web.webis.de/">Stable Diffusion API</a> -->


<h2 id="submission">Submission</h2>

<p>Our submission system in TIRA will open soon. You can use our [<a href="image-retrieval-for-arguments/validator.html">validator</a>] to check whether your submission file is valid. Each team can submit up to 5 runs (as docker image or results file).</p>

<p>
For a run with retrieved images, submit a JSONL file. Each line in the JSONL file should be in the following JSON format:
<ul>
<li><code>argument_id</code>: The ID of the argument in the arguments.xml file in the dataset for which the image was retrieved.</li>
<li><code>method</code>: The string "<code>retrieval</code>".</li>
<li><code>image_id</code>: The image's ID (name of the image's directory in the dataset).</li>
<li><code>rank</code>: The rank of the image in your result list for the argument (starting at 1 per argument, up to 10).</li>
<li><code>tag</code>: A tag that identifies your group and the method you used to produce the run.</li>
</ul></p>

<details>
<summary>Example JSON line (click to see)</summary>
<pre><code>{
    "argument_id": "1-5",
    "method": "retrieval",
    "image_id": "I002e616104f6ec04fd1a24d5",
    "rank": 1,
    "tag": "touche organizers - example submission for image retrieval; manual selection of images"
}</code></pre>
</details>

<p>
For a run with generated images, submit a ZIP file which contains a <code>results.jsonl</code> file and the generated images in a directory called <code>generated_images</code>. Each line in the <code>results.jsonl</code> file should be in the following JSON format:
<ul>
<li><code>argument_id</code>: The ID of the argument in the arguments.xml file in the dataset for which the image was generated.</li>
<li><code>method</code>: The string "<code>generation</code>".</li>
<li><code>prompt</code>: The prompt you used to generate the image.</li>
<li><code>image</code>: Filename of the image in the <code>generated_images</code> directory.</li>
<li><code>rank</code>: The rank of the image in your result list for the argument (starting at 1 per argument, up to 10).</li>
<li><code>tag</code>: A tag that identifies your group and the method you used to produce the run.</li>
</ul></p>

<details>
<summary>Example JSON line (click to see)</summary>
<pre><code>{
    "argument_id": "1-5",
    "method": "generation",
    "prompt": "Worker loosing job due to automation",
    "image": "1-5-1.jpg",
    "rank": 1,
    "tag": "touche organizers - example submission for image generation; manual prompt engineering"
}</code></pre>
</details>



<h2 id="evaluation">Evaluation</h2>

<p>Runs will be assessed manually using top-k pooling. We identified two key aspects for each argument and will check for submitted images whether these are represented in the images. Runs will be compared using NDCG</p>.


<h2 id="task-committee">Task Committee</h2>
<div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
{% include people-cards/heinrich.html gender="male" %}
{% include people-cards/kiesel.html gender="male" %}
{% include people-cards/wolter.html gender="male" %}
{% include people-cards/potthast.html gender="male" %}
{% include people-cards/stein.html gender="male" %}
</div>
<div class="uk-container uk-padding-large uk-padding-remove-bottom">
{% include organizations/clef-organizations-section.html year=2025 %}
</div>
</div>
</div>
</main>
