---
layout: default
nav_active: events
title: Touché at CLEF 2025
description: Touché at CLEF 2025
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">Touché</a></li>
<li><a href="../../events.html">Events</a></li>
<li class="uk-disabled"><a href="#">Touché at CLEF 2025</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
<div class="uk-container">
<div class="uk-container">
<h1 class="uk-margin-remove-top">Touché at CLEF 2025</h1>
<ul class="uk-list">
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-synopsis">Synopsis/Call</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-tasks">Shared Tasks</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-important-dates">Important Dates</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-organizing-committee">Organizing Committee</a></li>
</ul>
</div>

<div class="uk-container uk-margin-medium">
<h2 id="index-synopsis">Synopsis/Call</h2>
<p>Decision-making and opinion-forming are everyday tasks that involve weighing pro and con arguments for or against different options. Our goal is to foster the development of technologies that support people in decision-making and opinion-forming and to improve our understanding of these processes. We invite you to participate in the 6th Touché lab on argumentation at <a href="http://clef2025.clef-initiative.eu/">CLEF 2025</a> featuring four tasks.</p>

<a href="https://groups.google.com/g/touche-lab" class="uk-button uk-button-primary">Join the Touché mailing list</a>

<h2 id="index-tasks" class="uk-margin-small-top">Shared Tasks</h2>
<ul>
<li><a href="{{ '/shared-tasks.html#retrieval-augmented-debating' | relative_url }}">Retrieval-Augmented Debating</a></li>
<li><a href="{{ '/shared-tasks.html#ideology-and-power-identification-in-parliamentary-debates' | relative_url }}">Ideology and Power Identification in Parliamentary Debates</a></li>
<li><a href="{{ '/shared-tasks.html#image-retrieval-for-arguments' | relative_url }}">Image Retrieval/Generation for Arguments</a></li>
<li><a href="{{ '/shared-tasks.html#advertisement-detection' | relative_url }}">Advertisement in Retrieval-Augmented Generation</a></li>
</ul>

<!-- <a class="uk-button uk-button-primary" href="https://clef2024-labs-registration.dei.unipd.it/">Register now</a><br> -->

<h2 id="important-dates" class="uk-margin-large-top">Important Dates</h2>
<p>Subscribe to the <a href="https://groups.google.com/g/touche-lab">Touché mailing list</a> to receive notifications.</p>
<ul>
<li><strong>Dec. 2024:</strong> CLEF Registration opens.<!-- [<a href="https://clef2024-labs-registration.dei.unipd.it/">register</a>]--></li>
<li><strong>April-May 2025:</strong> Approaches submission deadline.</li>
<li><strong>May 2025:</strong> Participant paper submission.</li>
<li><strong>June 2025:</strong> Peer review notification.</li>
<li><strong>July 2025:</strong> Camera-ready participant papers submission.</li>
<li><strong>Sep. 2025:</strong> <a href="http://clef2025.clef-initiative.eu/index.php">CLEF Conference</a> in Madrid and Touché Workshop.</li>
</ul>
<p>All deadlines are 23:59 <a href="https://time.is/CEST">CEST</a> (UTC+2).</p>

<h2 id="index-organizing-committee">Organizing Committee</h2>
<div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
{% include people-cards/kiesel.html %}
{% include people-cards/coltekin.html %}
{% include people-cards/gohsen.html %}
{% include people-cards/heineking.html %}
{% include people-cards/heinrich.html %}
{% include people-cards/froebe.html %}
{% include people-cards/hagen-tim.html %}
{% include people-cards/potthast.html %}
{% include people-cards/stein.html %}
</div>
<div class="uk-container uk-padding-large uk-padding-remove-bottom">
{% include organizations/clef-organizations-section.html year=2025 %}
</div>
</div>
</div>
</main>
