---
layout: default
nav_active: events
title: Touché at CLEF 2025
description: Learn about tasks and organization of Touché at CLEF 2025
---
<nav class="uk-container">
<ul class="uk-breadcrumb">
<li><a href="../../index.html">Touché</a></li>
<li><a href="../../events.html">Events</a></li>
<li class="uk-disabled"><a href="#">Touché at CLEF 2025</a></li>
</ul>
</nav>

<main class="uk-section uk-section-default">
<div class="uk-container">
<div class="uk-container">
<h1 class="uk-margin-remove-top">Touché at CLEF 2025</h1>
<ul class="uk-list">
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-synopsis">Synopsis/Call</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-tasks">Shared Tasks</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-important-dates">Important Dates</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-keynote">Keynote</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-program">Program</a></li>
<li><span data-uk-icon="chevron-down"></span><a class="uk-margin-small-right" href="#index-organizing-committee">Organizing Committee</a></li>
</ul>
</div>

<div class="uk-container uk-margin-medium">
<h2 id="index-synopsis">Synopsis/Call</h2>
<p>Decision-making and opinion-forming are everyday tasks that involve weighing pro and con arguments for or against different options. Our goal is to foster the development of technologies that support people in decision-making and opinion-forming and to improve our understanding of these processes. We invite you to participate in the 6th Touché lab on argumentation at <a href="http://clef2025.clef-initiative.eu/">CLEF 2025</a> featuring four tasks.</p>

<a class="uk-button uk-button-primary" href="https://clef2025-labs-registration.dei.unipd.it/">Register for participation</a>
<!--
<a class="uk-button uk-button-primary" href="https://clef2024.imag.fr/index.php?page=Pages/conference_registration.html">Register for Touché at CLEF</a>           
-->
<a href="https://groups.google.com/g/touche-lab" class="uk-button uk-button-primary">Join the Touché mailing list</a>

<h2 id="index-tasks" class="uk-margin-small-top">Shared Tasks</h2>
<ul>
<li><a href="{{ '/shared-tasks.html#retrieval-augmented-debating' | relative_url }}">Retrieval-Augmented Debating</a></li>
<li><a href="{{ '/shared-tasks.html#ideology-and-power-identification-in-parliamentary-debates' | relative_url }}">Ideology and Power Identification in Parliamentary Debates</a></li>
<li><a href="{{ '/shared-tasks.html#image-retrieval-for-arguments' | relative_url }}">Image Retrieval/Generation for Arguments</a></li>
<li><a href="{{ '/shared-tasks.html#advertisement-detection' | relative_url }}">Advertisement in Retrieval-Augmented Generation</a></li>
</ul>


<h2 id="important-dates" class="uk-margin-large-top">Important Dates</h2>
<p>Subscribe to the <a href="https://groups.google.com/g/touche-lab">Touché mailing list</a> to receive notifications.</p>
<ul>
<li><strong>2024-11:</strong> CLEF Registration opened [<a href="https://clef2025-labs-registration.dei.unipd.it/">register</a>]</li>
<li><strong>2025-05-23:</strong> Approaches submission deadline</li>
<li><strong>2025-05-30:</strong> Participant paper submission [<a href="https://github.com/touche-webis-de/touche-code/raw/refs/heads/main/touche-paper-template.zip">paper template + submission instructions</a>]</li>
<li><strong>2025-06-10:</strong> Peer review notification</li>
<li><strong>2025-07-07:</strong> Camera-ready participant papers submission</li>
<li><strong>2025-09-09 and 2025-09-10:</strong>Touché Workshop at the <a href="http://clef2025.clef-initiative.eu/index.php">CLEF Conference</a> in Madrid</li>
</ul>
<p>All deadlines are 23:59 <a href="https://time.is/CEST">CEST</a> (UTC+2).</p>

<h2 id="index-keynote">Keynote</h2>
<article class="keynote">
<header class="keynote-header">
<!--
<div class="keynote-speaker-image">
<img src="../touche24-figures/bastin.jpg" alt="Gilles Bastin">
</div>
-->
<div class="keynote-meta">
<div class="keynote-title">Truthfulness and Critical Reasoning in Automatic Argumentation with LLMs</div>
<div class="keynote-speaker"><a href="https://ragerri.github.io/" target="_blank">Rodrigo Agerri</a> and Blanca Calvo Figueras</div>
<div class="keynote-affiliation">University of the Basque Country (UPV/EHU), HiTZ center</div>
</div>
</header>
<div class="keynote-body">
<p>
Automatic Argumentation faces new challenges in the LLMs era, including truthfulness, integration of external knowledge for counterargumentation and the fostering of critical reasoning. Central to our approach is the automatic generation of Critical Questions that systematically evaluate LLMs' argumentative reasoning by identifying logical weaknesses and challenging argument validity. This critical questioning framework serves as both an evaluation mechanism and a tool for enhancing automatic argumentation systems. Our findings reveal that truthful counterargumentation requires factual accuracy, logical reasoning, and critical evaluation capabilities, which may be facilitated by automated Critical Questions Generation systems.
</p>
<p>
Significant challenges remain in evaluation methodology and cultural sensitivity, highlighting the essential role of critical argumentation frameworks in developing more reliable and logically rigorous language models across diverse linguistic contexts.
</p>
<footer>
<div class="keynote-bio expanded" id="keynote-bio-1">
<p>
Rodrigo Agerri, PhD in Computer Science (City, University of London), is the Head of the Text Analysis research area at the HiTZ Center. Involved in more than 40 research projects internationally funded, his research is currently focused on LLMs for cross-lingual information extraction and text generation. He regularly publishes and serves as Area Chair in the main NLP conferences (ACL, EMNLP, etc.). At the moment, he is the PI of several research projects funded by the Spanish Ministry of Science, including "DISARGUE", on argumentation-based approaches to counteract misinformation" and “DeepMinor”, on the development and benchmarking of LLMs for low-resource languages in multilingual contexts.
</p>
<p>
Blanca Calvo Figueras is a PhD candidate at the University of the Basque Country (UPV/EHU). She is interested in the dissemination of narratives, opinion mining, and the argumentation process. She studied Philosophy, Politics, and Economics, and later joined the NLP field studying the European Masters in Language and Communication Technologies. She has since been a researcher in Vicomtech, the Barcelona Supercomputing Center (BSC), and now the HiTZ center (EHU). Her PhD focuses on using argumentation mining technologies to enhance critical thinking.
</p>
</div>
</footer>
</div>
</article>

<h2 id="index-program">Program</h2>
<p>
Touché is part of the <a href="https://clef2025.clef-initiative.eu/index.php?page=Pages/programme.html">CLEF 2025 conference program</a>. All session times below are given in <a href="https://time.is/Madrid">Madrid local time (CEST)</a>. Touché is also featured in the CLEF Lab Overviews session September 9, 11:30-13:15, in Salón de Actos - Facultad de Educación.
<!-- [<a href="https://ceur-ws.org/Vol-3740/#paper-322">proceedings</a>] -->
</p>
<table class="uk-table uk-table-divider uk-table-small uk-table-striped">
<tbody>
<tr><td colspan="2"><b>Tuesday, September 9, in Florentino Sanz - Facultad de Educación</b></td></tr>
<tr><td><b>14:15-15:45</b></td><td><b>Touché Session 1</b></td></tr>
<tr><td>   14:15-14:30    </td><td>Welcome</td></tr>
<tr><td>   14:30-15:45<br><i>Keynote</i>    </td><td>Truthfulness and Critical Reasoning in Automatic Argumentation with LLMs [<a href="/clef25/touche25-organization/agerri_2025.pdf">slides</a>]<br><i>Rodrigo Agerri and Blanca Calvo Figueras</i></td></tr>
<tr><td colspan="2"></td></tr>
<tr><td><b>15:45-16:30</b></td><td><b>Coffee Break and Poster Session</b></td></tr>
<tr>   <td>15:45-16:30</td>    <td>SINAI at Touché: From Generation to Evaluation through Multistep and Comparative Prompting for Retrieval-Augmented Debate [<a href="https://downloads.webis.de/touche/publications/posters/vallecillo-rodriguez_2025.pdf">poster</a><br><i>María Estrella Vallecillo-Rodríguez, María Teresa Martín-Valdivia and Arturo Montejo-Ráez</i></td></tr>
<tr>   <td>15:45-16:30</td>    <td>Git Gud at Touché: Unified RAG Pipeline for Native Ad Generation and Detection<!-- [<a href="/publications.html#_2025">paper</a>] [<a href="https://downloads.webis.de/touche/publications/slides/_2025.pdf">slides</a>]--><br><i>Sameer Kamani, Muhammad Taqi, Ansab Chaudhry, Ahmed Hanif, Abdul Samad and Faisal Alvi</i></td></tr>
<tr><td colspan="2"></td></tr>
<tr><td><b>16:30-18:00</b></td><td><b>Touché Session 2</b></td></tr>
<tr><td>   16:30-16:40    </td><td>Overview of the Image Retrieval/Generation for Arguments Task [<a href="/publications.html#kiesel_2025b">paper</a>] [<a href="/clef25/touche25-organization/touche25-task3-overview.pdf">slides</a>]</td></tr>
<tr>   <td>16:40-16:55</td>    <td>Infotec+CentroGEO at Touché: MCIP, CLIP and SBERT as Retrieval Score<!-- [<a href="/publications.html#_2025">paper</a>]--> [<a href="https://downloads.webis.de/touche/publications/slides/ramirez-delreal_2025.pdf">slides</a>]<br><i>Tania Ramirez-Delreal, Daniela Moctezuma, Guillermo Ruiz, Mario Graff and Eric Tellez</i></td></tr>
<tr><td>   16:55-17:05    </td><td>Overview of the Advertisement in Retrieval-Augmented Generation Task [<a href="/publications.html#kiesel_2025b">paper</a>] [<a href="/clef25/touche25-organization/touche25-task4-overview.pdf">slides</a>]</td></tr>
<tr>   <td>17:05-17:20</td>    <td>Git Gud at Touché: Unified RAG Pipeline for Native Ad Generation and Detection<!-- [<a href="/publications.html#_2025">paper</a>]--> [<a href="https://downloads.webis.de/touche/publications/slides/kamani_2025.pdf">slides</a>]<br><i>Sameer Kamani, Muhammad Taqi, Ansab Chaudhry, Ahmed Hanif, Abdul Samad and Faisal Alvi</i></td></tr>
<tr>   <td>17:20-17:35</td>    <td>TeamCMU at Touché: Adversarial Co-Evolution for Advertisement Integration and Detection in Conversational Search<!-- [<a href="/publications.html#_2025">paper</a>]--> [<a href="https://downloads.webis.de/touche/publications/slides/kim_2025.pdf">slides</a>]<br><i>To Eun Kim, João Coelho, Gbemileke Onilude and Jai Singh</i></td></tr>
<tr>   <td>17:35-17:50</td>    <td>JU-NLP at Touché: Covert Advertisement in Conversational AI-Generation and Detection Strategies<!-- [<a href="/publications.html#_2025">paper</a>]--> [<a href="https://downloads.webis.de/touche/publications/slides/dutta_2025.pdf">slides</a>] [<a href="https://www.youtube.com/watch?v=kpPIYLxRAXA&list=PLgD1TOdHQCI_ZONYR7mxBJ3gZk_bCBcwI&index=1">video</a>]<br><i>Arka Dutta, Agrik Majumdar, Sombrata Biswas, Dipankar Das and Sivaji Bandhopadhay</i></td></tr>
<tr>   <td>17:50-18:00</td>    <td>Open Discussion</td></tr>
<tr><td colspan="2"></td></tr>
<tr><td colspan="2"><b>Wednesday, September 10, in Florentino Sanz - Facultad de Educación</b></td></tr>
<tr><td><b>14:15-15:45</b></td><td><b>Touché Session 3</b></td></tr>
<tr><td>   14:15-14:25    </td><td>Overview of the Retrieval-Augmented Debating Task [<a href="/publications.html#kiesel_2025b">paper</a>] [<a href="/clef25/touche25-organization/touche25-task1-overview.pdf">slides</a>]</td></tr>
<tr>   <td>14:25-14:40</td>    <td>DS@GT at Touché: Large Language Models for Retrieval-Augmented Debate<!-- [<a href="/publications.html#_2025">paper</a>]--> [<a href="https://downloads.webis.de/touche/publications/slides/miyaguchi_2025.pdf">slides</a>]<br><i>Anthony Miyaguchi, Conor Johnston and Aaryan Potdar</i></td></tr>
<tr>   <td>14:40-14:55</td>    <td>SINAI at Touché: From Generation to Evaluation through Multistep and Comparative Prompting for Retrieval-Augmented Debate<!-- [<a href="/publications.html#_2025">paper</a>]--> [<a href="https://downloads.webis.de/touche/publications/slides/vallecillo-rodriguez_2025.pdf">slides</a>]<br><i>María Estrella Vallecillo-Rodríguez, María Teresa Martín-Valdivia and Arturo Montejo-Ráez</i></td></tr>
<tr><td>   14:55-15:05    </td><td>Overview of the Ideology and Power Identification in Parliamentary Debates Task [<a href="/publications.html#kiesel_2025b">paper</a>] [<a href="/clef25/touche25-organization/touche25-task2-overview.pdf">slides</a>]</td></tr>
<tr>   <td>15:05-15:20</td>    <td>GIL_UNAM_Iztacala at Touché: Benchmarking Classical Models for Multilingual Political Stance and Power Classification<!-- [<a href="/publications.html#_2025">paper</a>]--> [<a href="https://downloads.webis.de/touche/publications/slides/miranda_2025.pdf">slides</a>]<br><i>Jesús Vázquez-Osorio, Luis A. H. Miranda, Adrián Juárez-Pérez, Gerardo Sierra and Gemma Bel-Enguix</i></td></tr>
<tr>   <td>15:20-15:35</td>    <td>Munibuc at Touché: Generalist Embeddings for Orientation and Populism Detection<!-- [<a href="/publications.html#_2025">paper</a>]--> [<a href="https://downloads.webis.de/touche/publications/slides/marogel_2025.pdf">slides</a>] [<a href="https://www.youtube.com/watch?v=3H79YzHSjEg&list=PLgD1TOdHQCI_ZONYR7mxBJ3gZk_bCBcwI&index=2">video</a>]<br><i>Marius Marogel and Silviu Gheorghe</i></td></tr>
<tr>   <td>15:35-15:45</td>    <td>Closing</td></tr>
</tbody>
</table>

<h2 id="index-organizing-committee">Organizing Committee</h2>
<div data-uk-grid class="uk-grid uk-grid-match uk-grid-small thumbnail-card-grid">
{% include people-cards/kiesel.html %}
{% include people-cards/coltekin.html %}
{% include people-cards/gohsen.html %}
{% include people-cards/heineking.html %}
{% include people-cards/heinrich.html %}
{% include people-cards/froebe.html %}
{% include people-cards/hagen-tim.html %}
{% include people-cards/potthast.html %}
{% include people-cards/stein.html %}
</div>
<div class="uk-container uk-padding-large uk-padding-remove-bottom">
{% include organizations/clef-organizations-section.html year=2025 %}
</div>
</div>
</div>
</main>
